
<div ng-cloak ng-show="vm.manageInfo.templateChooserVisible" class="dnnFormMessage dnnFormInfo">
    <div class="sc-selectors">

        <!-- App Selector - only relevant in App-Mode -->
        <select ng-show="!vm.manageInfo.isContentApp" ng-model="vm.appId" class="sc-selector-app"
                ng-options="a.AppId as a.Name for a in vm.apps"
                ng-disabled="vm.manageInfo.hasContent || vm.manageInfo.isList">
            <option value="" ng-disabled="vm.appId != null" translate="TemplatePicker.AppPickerDefault"></option>
        </select>

        <!-- Content Type selector, only for Content-Mode -->
        <select ng-show="vm.manageInfo.isContentApp" ng-model="vm.contentTypeId" class="sc-selector-contenttype"
                ng-options="c.StaticName as c.Name for c in vm.contentTypes"
                ng-disabled="vm.manageInfo.hasContent || vm.manageInfo.isList">
            <option ng-disabled="vm.contentTypeId != ''" value="" translate="TemplatePicker.ContentTypePickerDefault"></option>
        </select>

        <!-- View / template selector -->
        <select ng-show="vm.manageInfo.isContentApp ? vm.contentTypeId != 0 : (vm.savedAppId != null &&  vm.filteredTemplates().length > 1)"
                ng-model="vm.templateId" class="sc-selector-template"
                ng-options="t.TemplateId as t.Name for t in vm.filteredTemplates(vm.contentTypeId)">
        </select>
    </div>

    <div class="sc-selector-actions">
        &nbsp;
        <a ng-show="vm.templateId != null && vm.savedTemplateId != vm.templateId" class="sc-selector-save"
           ng-click="vm.persistTemplate(false, false);"
           title="{{ 'TemplatePicker.Save' | translate }}">
            <div>
                <i class="icon-sxc-ok"></i>
            </div>
        </a>
        &nbsp;
        <a ng-show="vm.undoTemplateId != null" class="sc-selector-close" ng-click="vm.cancelTemplateChange();"
           title="{{ 'TemplatePicker.' + (vm.manageInfo.isContentApp ? 'Cancel' : 'Close') | translate }}">
            <div>
                <i class="icon-sxc-cancel"></i>
            </div>
        </a>
    </div>
    <div class="sc-loading" ng-show="vm.loading">
        <i class="icon-sxc-spinner fa-spin"></i>
    </div>
</div>
