    <div class="modal-header">
        <button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
        <h3 class="modal-title" translate="AppManagement.Title"></h3>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-default" ng-click="vm.search()">
            <span icon="search"></span> {{ 'AppManagement.Buttons.Browse' | translate }}
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.add()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="button" class="btn" ng-click="vm.refresh()">
            <span class="glyphicon glyphicon-repeat"></span>
        </button>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th translate="AppManagement.Table.Name"></th>
                <th translate="AppManagement.Table.Folder"></th>
                <th translate="AppManagement.Table.Templates"></th>
                <th translate="AppManagement.Table.Show"></th>
                <th translate="AppManagement.Table.Actions"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items | orderBy:'Title'">
                <td tooltip="{{item.Id}}"><a ng-click="vm.edit(item)">{{item.Title}}</a></td>
                <td>{{item.Folder}}</td>
                <td>note: create 2 icons here, an @ if it has Razr, an [] if it has tokens</td>
                <td>create eye-icon here open/close</td>
                <td>Actions: needs "config=cog, export=export, delete=remove"
                    
                    <button type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100" translate="General.Messages.NothingFound"></td>
            </tr>
            </tbody>
        </table>
    </div>