
.icon-eav-eye:before { content: '\e800'; } /* '' */
.icon-eav-eye-close:before { content: '\e801'; } /* '' */
.icon-eav-align-left:before { content: '\e802'; } /* '' */
.icon-eav-align-center:before { content: '\e803'; } /* '' */
.icon-eav-align-right:before { content: '\e804'; } /* '' */
.icon-eav-apple:before { content: '\e805'; } /* '' */
.icon-eav-ghost:before { content: '\e806'; } /* '' */
.icon-eav-heart:before { content: '\e807'; } /* '' */
.icon-eav-heart-empty:before { content: '\e808'; } /* '' */
.icon-eav-star:before { content: '\e809'; } /* '' */
.icon-eav-star-empty:before { content: '\e80a'; } /* '' */
.icon-eav-star-half-alt:before { content: '\e80b'; } /* '' */
.icon-eav-user:before { content: '\e80c'; } /* '' */
.icon-eav-image:before { content: '\e80d'; } /* '' */
.icon-eav-th-list:before { content: '\e80e'; } /* '' */
.icon-eav-ok:before { content: '\e80f'; } /* '' */
.icon-eav-cancel:before { content: '\e810'; } /* '' */
.icon-eav-plus:before { content: '\e811'; } /* '' */
.icon-eav-plus-circled:before { content: '\e812'; } /* '' */
.icon-eav-plus-squared:before { content: '\e813'; } /* '' */
.icon-eav-minus:before { content: '\e814'; } /* '' */
.icon-eav-minus-circled:before { content: '\e815'; } /* '' */
.icon-eav-minus-squared:before { content: '\e816'; } /* '' */
.icon-eav-home:before { content: '\e817'; } /* '' */
.icon-eav-link:before { content: '\e818'; } /* '' */
.icon-eav-unlink:before { content: '\e819'; } /* '' */
.icon-eav-link-ext:before { content: '\e81a'; } /* '' */
.icon-eav-lock:before { content: '\e81b'; } /* '' */
.icon-eav-tag:before { content: '\e81c'; } /* '' */
.icon-eav-tags:before { content: '\e81d'; } /* '' */
.icon-eav-code:before { content: '\e81e'; } /* '' */
.icon-eav-file:before { content: '\e81f'; } /* '' */
.icon-eav-file-text:before { content: '\e820'; } /* '' */
.icon-eav-file-pdf:before { content: '\e821'; } /* '' */
.icon-eav-file-word:before { content: '\e822'; } /* '' */
.icon-eav-file-excel:before { content: '\e823'; } /* '' */
.icon-eav-file-powerpoint:before { content: '\e824'; } /* '' */
.icon-eav-file-image:before { content: '\e825'; } /* '' */
.icon-eav-file-archive:before { content: '\e826'; } /* '' */
.icon-eav-file-audio:before { content: '\e827'; } /* '' */
.icon-eav-file-video:before { content: '\e828'; } /* '' */
.icon-eav-file-code:before { content: '\e829'; } /* '' */
.icon-eav-folder-empty:before { content: '\e82a'; } /* '' */
.icon-eav-settings:before { content: '\e82b'; } /* '' */
.icon-eav-manage:before { content: '\e82c'; } /* '' */
.icon-eav-resize-horizontal:before { content: '\e82d'; } /* '' */
.icon-eav-up-circled2:before { content: '\e82e'; } /* '' */
.icon-eav-down-dir:before { content: '\e82f'; } /* '' */
.icon-eav-reload:before { content: '\e830'; } /* '' */
.icon-eav-level-up:before { content: '\e831'; } /* '' */
.icon-eav-globe:before { content: '\e832'; } /* '' */
.icon-eav-table:before { content: '\e833'; } /* '' */
.icon-eav-circle-half:before { content: '\e834'; } /* '' */
.icon-eav-circle:before { content: '\e835'; } /* '' */
.icon-eav-circle-empty:before { content: '\e836'; } /* '' */
.icon-eav-dot-circled:before { content: '\e837'; } /* '' */
.icon-eav-fire:before { content: '\e838'; } /* '' */
.icon-eav-sitemap:before { content: '\e839'; } /* '' */
.icon-eav-spinner:before { content: '\e83a'; } /* '' */
.icon-eav-smile:before { content: '\e83b'; } /* '' */
.icon-eav-anchor:before { content: '\e83c'; } /* '' */
.icon-eav-pro:before { content: '\e83d'; } /* '' */
.icon-eav-file-vcard:before { content: '\e83e'; } /* '' */
.icon-eav-options:before { content: '\e83f'; } /* '' */
.icon-eav-language:before { content: '\e840'; } /* '' */
.icon-eav-fields:before { content: '\e841'; } /* '' */
.icon-eav-pencil:before { content: '\e842'; } /* '' */
.icon-eav-flash:before { content: '\e843'; } /* '' */
.icon-eav-glasses:before { content: '\e844'; } /* '' */
.icon-eav-cart-arrow-down:before { content: '\e845'; } /* '' */
.icon-eav-import:before { content: '\e846'; } /* '' */
.icon-eav-sliders:before { content: '\e847'; } /* '' */
.icon-eav-export:before { content: '\e848'; } /* '' */
.icon-eav-trash:before { content: '\e849'; } /* '' */
.icon-eav-docs:before { content: '\e84a'; } /* '' */
.icon-eav-shuffle:before { content: '\e84b'; } /* '' */
.icon-eav-filter:before { content: '\e84c'; } /* '' */
.icon-eav-calendar:before { content: '\e84d'; } /* '' */
.icon-eav-ok-circled2:before { content: '\e84e'; } /* '' */
.icon-eav-ok-circled:before { content: '\e84f'; } /* '' */
.icon-eav-ok-squared:before { content: '\e850'; } /* '' */
.icon-eav-toggle-off:before { content: '\e851'; } /* '' */
.icon-eav-toggle-on:before { content: '\e852'; } /* '' */
.icon-eav-info-circled:before { content: '\e853'; } /* '' */
.icon-eav-right-dir:before { content: '\e854'; } /* '' */
.icon-eav-left-dir:before { content: '\e855'; } /* '' */
.icon-eav-up-dir:before { content: '\e856'; } /* '' */
.icon-eav-side-marker:before { content: '\e857'; } /* '' */
.icon-eav-git-branch:before { content: '\e858'; } /* '' */
.icon-eav-git-pull-request:before { content: '\e859'; } /* '' */