
.icon-folder-empty:before { content: '\e800'; } /* '' */
.icon-file-word:before { content: '\e801'; } /* '' */
.icon-file-pdf:before { content: '\e802'; } /* '' */
.icon-file-excel:before { content: '\e803'; } /* '' */
.icon-file:before { content: '\e804'; } /* '' */
.icon-file-powerpoint:before { content: '\e805'; } /* '' */
.icon-file-archive:before { content: '\e806'; } /* '' */
.icon-file-text:before { content: '\e807'; } /* '' */
.icon-level-up:before { content: '\e808'; } /* '' */
.icon-align-left:before { content: '\e809'; } /* '' */
.icon-up-circled2:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-minus-circled:before { content: '\e80e'; } /* '' */
.icon-file-code:before { content: '\e80f'; } /* '' */
.icon-file-video:before { content: '\e810'; } /* '' */
.icon-file-audio:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-star-half-alt:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-pro:before { content: '\e816'; } /* '' */
.icon-plus-squared:before { content: '\e817'; } /* '' */
.icon-minus-squared:before { content: '\e818'; } /* '' */
.icon-apple:before { content: '\e819'; } /* '' */
.icon-align-center:before { content: '\e81a'; } /* '' */
.icon-align-right:before { content: '\e81b'; } /* '' */
.icon-cancel:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-link-ext:before { content: '\e81e'; } /* '' */
.icon-heart:before { content: '\e81f'; } /* '' */
.icon-options:before { content: '\e820'; } /* '' */
.icon-file-vcard:before { content: '\e821'; } /* '' */
.icon-settings:before { content: '\e822'; } /* '' */
.icon-manage:before { content: '\e823'; } /* '' */
.icon-smile:before { content: '\e824'; } /* '' */
.icon-anchor:before { content: '\e825'; } /* '' */
.icon-sitemap:before { content: '\e826'; } /* '' */