
.icon-folder-empty:before { content: '\e800'; } /* '' */
.icon-file-word:before { content: '\e801'; } /* '' */
.icon-file-pdf:before { content: '\e802'; } /* '' */
.icon-file-excel:before { content: '\e803'; } /* '' */
.icon-file:before { content: '\e804'; } /* '' */
.icon-file-powerpoint:before { content: '\e805'; } /* '' */
.icon-file-archive:before { content: '\e806'; } /* '' */
.icon-file-text:before { content: '\e807'; } /* '' */
.icon-level-up:before { content: '\e808'; } /* '' */
.icon-align-left:before { content: '\e809'; } /* '' */
.icon-up-circled2:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-minus-circled:before { content: '\e80e'; } /* '' */
.icon-file-code:before { content: '\e80f'; } /* '' */
.icon-file-video:before { content: '\e810'; } /* '' */
.icon-file-audio:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e812'; } /* '' */
.icon-star-empty:before { content: '\e813'; } /* '' */
.icon-star-half-alt:before { content: '\e814'; } /* '' */
.icon-tag:before { content: '\e815'; } /* '' */
.icon-pro:before { content: '\e816'; } /* '' */
.icon-plus-squared:before { content: '\e817'; } /* '' */
.icon-minus-squared:before { content: '\e818'; } /* '' */
.icon-apple:before { content: '\e819'; } /* '' */
.icon-align-center:before { content: '\e81a'; } /* '' */
.icon-align-right:before { content: '\e81b'; } /* '' */
.icon-cancel:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-link-ext:before { content: '\e81e'; } /* '' */
.icon-heart:before { content: '\e81f'; } /* '' */
.icon-options:before { content: '\e820'; } /* '' */
.icon-file-vcard:before { content: '\e821'; } /* '' */
.icon-settings:before { content: '\e822'; } /* '' */
.icon-manage:before { content: '\e823'; } /* '' */
.icon-smile:before { content: '\e824'; } /* '' */
.icon-anchor:before { content: '\e825'; } /* '' */
.icon-sitemap:before { content: '\e826'; } /* '' */
.icon-resize-horizontal:before { content: '\e827'; } /* '' */
.icon-spinner:before { content: '\e828'; } /* '' */
.icon-file-image:before { content: '\e829'; } /* '' */
.icon-image:before { content: '\e82a'; } /* '' */
.icon-fields:before { content: '\e82b'; } /* '' */
.icon-th-list:before { content: '\e82c'; } /* '' */
.icon-heart-empty:before { content: '\e82d'; } /* '' */
.icon-circle-empty:before { content: '\e82e'; } /* '' */
.icon-circle:before { content: '\e82f'; } /* '' */
.icon-eye:before { content: '\e830'; } /* '' */
.icon-dot-circled:before { content: '\e831'; } /* '' */
.icon-code:before { content: '\e832'; } /* '' */
.icon-lock:before { content: '\e833'; } /* '' */
.icon-eye-close:before { content: '\e834'; } /* '' */
.icon-import:before { content: '\e835'; } /* '' */
.icon-user:before { content: '\e836'; } /* '' */
.icon-home:before { content: '\e837'; } /* '' */
.icon-table:before { content: '\e838'; } /* '' */
.icon-glasses:before { content: '\e839'; } /* '' */
.icon-globe:before { content: '\e83a'; } /* '' */
.icon-language:before { content: '\e83b'; } /* '' */
.icon-fire:before { content: '\e83c'; } /* '' */
.icon-circle-half:before { content: '\e83d'; } /* '' */
.icon-export:before { content: '\e83e'; } /* '' */
.icon-reload:before { content: '\e83f'; } /* '' */
.icon-flash:before { content: '\e840'; } /* '' */
.icon-ghost:before { content: '\e841'; } /* '' */
.icon-down-dir:before { content: '\e842'; } /* '' */
.icon-tags:before { content: '\e843'; } /* '' */
.icon-pencil:before { content: '\e844'; } /* '' */
.icon-link:before { content: '\e845'; } /* '' */
.icon-unlink:before { content: '\e846'; } /* '' */