<div>
    <div class="modal-header">
        <button icon="remove" class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()"></button>
        <h3 class="modal-title" translate="AppManagement.Title"></h3>
    </div>
    <div class="modal-body">
        <span class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="vm.browseCatalog()">
                <span icon="search"></span> {{ 'AppManagement.Buttons.Browse' | translate }}
            </button>
            <button type="button" class="btn" ng-click="vm.import()">
                <span icon="import" tooltip="{{ 'AppManagement.Buttons.Import' | translate }}"></span>
            </button>

            <button type="button" class="btn" ng-click="vm.add()">
                <span icon="plus" tooltip="{{ 'AppManagement.Buttons.Create' | translate }}"></span>
            </button>
            <button type="button" class="btn" ng-click="vm.refresh()">
                <span icon="repeat"></span>
            </button>
            <button type="button" class="btn" ng-click="vm.languages()">
                <span icon="globe"></span>
            </button>
        </span>
        <table class="table table-hover">
            <thead>
            <tr>
                <th translate="AppManagement.Table.Name"></th>
                <th translate="AppManagement.Table.Folder"></th>
                <!--<th translate="AppManagement.Table.Templates"></th>-->
                <th> <span icon="eye-open" tooltip="{{ 'AppManagement.Table.Show' | translate }}"></span></th>
                <th translate="AppManagement.Table.Actions"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.items | orderBy:'Title'" ng-click="vm.manage(item)">
                <td class="clickable">
                    <span tooltip="
Id: {{item.Id}}
Guid: {{item.Guid}}">{{item.Name}}</span>
                </td>
                <td class="clickable">{{item.Folder}}</td>
                <!--<td></td>-->
                <td><span icon="{{ item.IsHidden ? 'eye-close' : 'eye-open' }}"></span> </td>
                <td stop-event="click">
                    <!--<button icon="cog" ng-disabled="!item.IsApp" type="button" class="btn btn-xs" ng-click="vm.config(item)"></button>-->
                    <button icon="export" class="btn btn-xs" type="button" ng-click="vm.export(item)"></button>
                    <button icon="remove" ng-disabled="{{!item.IsApp}}" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)"></button>
                </td>
            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100" translate="General.Messages.NothingFound"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>