# Keep ToSic_SexyContent folder
!ToSIC_SexyContent

# other stuff in the DesktopModules Folder
/2FlexCopyright/*
/Admin/*
/AuthenticationServices/*
/DDRMenu/*
/DNNCorp/*
/DevicePreviewManagement/*
/DigitalAssets/*
/CoreMessaging/*
/HTML/*
/MemberDirectory/*
/Journal/*
/RazorModules/*
/MobileManagement/*
/SocialGroups/*
/UserDefinedTable/*
/Connect.Dnn.Koi/*
/Connect.Razor/*
/Docs/

