.sc-element { position:relative; }
.sc-element .sc-menu { position:absolute; right:5px; top:5px; display:none; }
.sc-element:hover .sc-menu { display: block; }
.sc-menu { list-style-type:none; margin:0; padding:0px;display: inline;z-index: 1499; }
.sc-menu li { list-style-type:none; padding:0!important; margin:0!important; display:inline; }
.sc-menu a { display:inline-block!important; margin-right:4px!important;cursor: pointer;margin-left: 0 !important; }

.sc-menu a div { 
    width: 28px!important;
    height: 28px!important;
    line-height:28px!important;
    background-color: #0088f4;
    /*background-color: #96D500; 
    border-color: #96D500;*/ 
    /* border-width: 3px;  */
    border-style: solid; 
    box-sizing: content-box;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    color: #fff; 
    text-align: center; 
    /*padding: 2px;*/ 
    font-size: 15px }
.sc-menu a div i {
    margin-left: auto;
    margin-right: auto;
}
/*
    .sc-menu a span { width: 18px!important;height: 18px!important;background-color: #96D500; border-color: #96D500; border-width: 3px; border-style: solid; box-sizing: content-box;
                  border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
                  color: #fff; text-align: center; padding: 2px; font-size: 13px}

*/

.sc-menu.listContent a span {background-color: #007100; border-color: #007100;}
.sc-menu a.hideFirst { display: none!important }
.showAll a.hideFirst { display:  inline-block!important }
/*.sc-menu a.box span { border-color: #666 } */
.sc-menu span.disabled { color: #aaa}

/* Template / ContentType / App-Selector */
.sc-selector-wrapper { position: relative;overflow: hidden; }
.sc-selector-wrapper .dnnFormInfo { overflow: hidden;padding: 9px;max-width:none; }
.sc-selector-wrapper a { cursor: pointer; }
.sc-selectors { max-width: 100% !important;float: left;width: 300px; }
.sc-selectors select { display: block;width: 100%;font-family: sans-serif;font-size: 13px;font-weight: 400;font-style: normal;color: #666;line-height: 16px;padding: 9px; }
.sc-selector-contenttype, .sc-selector-app { margin-bottom: 3px!important; }
.sc-selector-actions { margin-top: 46px; }
.sc-selector-close { background: url(images/Delete.png) center center no-repeat; height: 30px; width: 30px; display: inline-block; text-indent: -9999px; }
.sc-selector-save { background: url(images/Save.png) center center no-repeat;height: 30px;width: 30px; display: inline-block; text-indent: -9999px; }

.sc-selectors select[disabled] { opacity: 0.5 }
.sc-selectors input[disabled] { opacity: 0.5 }

/* Loading sign */
.sc-loading { position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(images/ajax-loader.gif) center center no-repeat rgba(255,255,255,0.7); }

/* Prevent scrolling when sxc popup is open */
.sxc-popup-open { overflow:hidden; }

/*!
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */


@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('dist/lib/fonts/glyphicons-halflings-regular.eot');
  src: url('dist/lib/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('dist/lib/fonts/glyphicons-halflings-regular.woff') format('woff'), url('dist/lib/fonts/glyphicons-halflings-regular.ttf') format('truetype')/*, url('dist/lib/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')*/;
}

/* these are added here, because we need them but don't want to override a global bootstrap definition for everything '*/
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}

.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}

.glyphicon-random:before {
    content: "\e110";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-th-list:before {
  content: "\e012";
}