.sc-element { position:relative; }
.sc-element .sc-menu { position:absolute; right:5px; top:5px; display:none; }
.sc-element:hover .sc-menu { display: block; }
.sc-menu { list-style-type:none; margin:0; padding:0px;display: inline;z-index: 99999; }
.sc-menu li { list-style-type:none; padding:0; margin:0; display:inline; }
.sc-menu a { display:inline-block!important; margin-right:4px!important;width: 16px!important;height: 16px!important;cursor: pointer; }
.sc-add { background: url(images/Add.png); }
.sc-edit { background: url(images/Edit.png); }
.sc-new { background: url(images/AddWithEdit.png); }
.sc-draft.sc-edit { background: url(images/Edit-Draft.png); }
.Mod2sxcC .dnnFormMessage select, .Mod2sxcappC .dnnFormMessage select { margin-bottom:0; }

/* Template / ContentType / App-Selector */
.sc-selector-wrapper { position: relative;overflow: hidden; }
.sc-selector-wrapper .dnnFormInfo { overflow: hidden; }
.sc-selector-wrapper a { cursor: pointer; }
.sc-selectors { max-width: 300px !important;float: left;width: 100%; }
.sc-selectors select { display: block;width: 100%; }
.sc-selector-contenttype, .sc-selector-app { margin-bottom: 3px!important; }
.sc-selector-close { background: url(images/Delete.png) center center no-repeat; float: right; height: 30px; width: 30px; display: block; text-indent: -9999px; }
.sc-selector-save { background: url(images/Save.png) center center no-repeat;height: 30px;width: 30px; float: right; clear: right; display: block; text-indent: -9999px; }

/* Loading sign */
.sc-loading { position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(images/ajax-loader.gif) center center no-repeat rgba(255,255,255,0.7); }