.sc-element { position:relative; }
.sc-element .sc-menu { position:absolute; right:5px; top:5px; display:none; }
.sc-element:hover .sc-menu { display: block; }
.sc-menu { list-style-type:none; margin:0; padding:0px;display: inline;z-index: 99999; }
.sc-menu li { list-style-type:none; padding:0; margin:0; display:inline; }
.sc-menu a { display:inline-block!important; margin-right:4px!important;width: 16px!important;height: 16px!important;cursor: pointer; }
.sc-add { background: url(images/Add.png); }
.sc-edit { background: url(images/Edit.png); }
.sc-new { background: url(images/AddWithEdit.png); }
.Mod2sxcC .dnnFormMessage select { margin-bottom:0; }

.sc-contenttype-selector, .sc-template-selector, .sc-app-selector { width: 100%;position: relative; max-width: 300px!important; }
.sc-contenttype-selector, .sc-app-selector { margin-bottom: 3px!important; }
