@* ReSharper disable once CheckNamespace *@
@namespace ToSic.Sxc.Oqt.Content
@inherits ToSic.Sxc.Oqt.App.Index

<div x-style="border: aqua 2px dotted">
    @((MarkupString)SxcOqtaneDto?.GeneratedHtml)
</div>
