@* ReSharper disable once CheckNamespace *@
@namespace ToSic.Sxc.Oqt.Content
@inherits ModuleBase
@inject ISettingService SettingService

<table class="table table-borderless"></table>

@code {
    public override string Title => "2sxc Content Settings";

    protected override async Task OnInitializedAsync()
    {
        try
        {

        }
        catch (Exception ex)
        {
          await Task.Run(() => ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error));
        }
    }

    public async Task UpdateSettings()
    {
        try
        {

        }
        catch (Exception ex)
        {
          await Task.Run(() => ModuleInstance.AddModuleMessage(ex.Message, MessageType.Error));
        }
    }
}
