<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
        <h3 class="modal-title" translate="ImportExport.ExportApp.Title"></h3>
    </div>
    <div class="modal-body">
        <div translate="ImportExport.ExportApp.Intro"></div>
        <div translate="ImportExport.ExportApp.FurtherHelp"></div>

        <h5>{{"ImportExport.ExportApp.Specifications.Title" | translate}}</h5>
        <ul>
            <li>{{"ImportExport.ExportApp.Specifications.AppName" | translate}} {{vm.AppInfo.Name}}</li>
            <li>{{"ImportExport.ExportApp.Specifications.AppGuid" | translate}} {{vm.AppInfo.Guid}}</li>
            <li>{{"ImportExport.ExportApp.Specifications.AppVersion" | translate}} {{vm.AppInfo.Version}}</li>
        </ul>

        <h5>{{"ImportExport.ExportApp.Content.Title" | translate}}</h5>
        <ul>
            <li>{{vm.AppInfo.EntitiesCount}} {{"ImportExport.ExportApp.Content.EntitiesCount" | translate}}</li>
            <li>{{vm.AppInfo.LanguagesCount}} {{"ImportExport.ExportApp.Content.LanguagesCount" | translate}}</li>
            <li>{{vm.AppInfo.TemplatesCount}} {{"ImportExport.ExportApp.Content.TemplatesCount" | translate}} ({{"ImportExport.ExportApp.Content.TokenTemplates" | translate}} {{vm.AppInfo.HasTokenTemplates}}, {{"ImportExport.ExportApp.Content.RazorTemplates" | translate}} {{vm.AppInfo.HasRazorTemplates}})</li>
            <li>{{vm.AppInfo.TransferableFilesCount}} {{"ImportExport.ExportApp.Content.TransferableFilesCount" | translate}}</li>
            <li>{{vm.AppInfo.FilesCount}} {{"ImportExport.ExportApp.Content.FilesCount" | translate}}</li>
        </ul>

        <div>
            <input ng-model="vm.IncludeContentGroups" type="checkbox" ng-disabled="vm.ResetAppGuid" /> {{"ImportExport.ExportApp.Options.IncludeContentGroups" | translate}}
        </div>
        <div>
            <input ng-model="vm.ResetAppGuid" type="checkbox" ng-disabled="vm.IncludeContentGroups"/> {{"ImportExport.ExportApp.Options.ResetAppGuid" | translate}}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="vm.exportApp()" translate="ImportExport.ExportApp.Commands.Export" ng-disabled="vm.IsExporting"></button>
        <button type="button" class="btn btn-default pull-left" ng-click="vm.exportGit()"
                translate="ImportExport.ExportApp.Commands.ExportForVersionControl"
                ng-disabled="vm.IsExporting"
                xxxng-show="vm.debug.on"
                ></button>
    </div>
    <show-debug-availability class="pull-right"></show-debug-availability>
</div>
