/* IMPORT MESSAGES */
.sxc-message { display: block; padding: 18px 18px; margin-bottom: 18px; border: 1px solid rgba(2, 139, 255, 0.2); border-radius: 3px; background: rgba(2,139,255,0.15); max-width: 980px; }

.sxc-message-success.sxc-message { background-color: rgba(0,255,0,0.15); border-color: rgba(0, 255, 0, 0.5); }

.sxc-message-success.sxc-message-success-hidden { display: none; }

.sxc-message-warning.sxc-message { background-color: rgba(255,255,0,0.15); border-color: #CDB21F; }

.sxc-message-error.sxc-message { background-color: rgba(255,0,0,0.15); border-color: rgba(255, 0, 0, 0.2); }
/* END IMPORT MESSAGES */

/* SPINNER ANIMATED */
.sxc-spinner { margin: 0 auto; position: absolute; left: 50%; top: 50%; width: 30px; height: 30px; text-align: center; -webkit-animation: rotation 0.8s infinite linear; -moz-animation: rotation 0.8s infinite linear; -o-animation: rotation 0.8s infinite linear; animation: rotation 0.8s infinite linear; }

.icon-spinner { font-size: 22px; }

@-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotation {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}

@-o-keyframes rotation {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(359deg); }
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}
/* END SPINNER ANIMATED */