<div>
    <div class="modal-header">
        <button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
        <h3 class="modal-title" translate="ImportExport.ImportApp.Title"></h3>
    </div>

    <!-- IMPORT -->
    <div ng-if="!vm.ImportResult.Messages">
        <div class="modal-body">
            <div translate="ImportExport.ImportApp.Intro"></div>
            <div translate="ImportExport.ImportApp.FurtherHelp"></div>
            <br />

            <span class="btn btn-default btn-file">
                <span ng-hide="vm.ImportFile.Data">{{"ImportExport.ImportApp.Commands.SelectFile" | translate}}</span>
                <span ng-show="vm.ImportFile.Data">{{vm.ImportFile.Name}}</span>
                <input type="file" sxc-file-read="vm.ImportFile" />
            </span>
            <br />
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-left" ng-click="vm.importApp()" ng-disabled="!vm.ImportFile.Data" translate="ImportExport.ImportApp.Commands.Import"></button>
        </div>
    </div>
    <!-- END IMPORT -->


    <!-- RESULT -->
    <div ng-if="vm.ImportResult.Messages">
        <div class="modal-body">
            <div ng-if="vm.ImportResult.Succeeded" class="dnnFormMessage dnnFormInfo">
                {{"ImportExport.ImportContent.Messages.ImportSucceeded" | translate}} (<a ng-click="vm.ImportResult._hideSuccessMessages = !vm.ImportResult._hideSuccessMessages">{{"ImportExport.ImportContent.Commands.ToggleSuccessMessages" | translate}}</a>)
            </div>
            <div ng-if="!vm.ImportResult.Succeeded" class="dnnFormMessage dnnFormValidationSummary">
                {{"ImportExport.ImportContent.Messages.ImportFailed" | translate}}
            </div>
            <div ng-repeat="message in vm.ImportResult.Messages" class="dnnFormMessage" ng-class="{ 'dnnFormWarning': message.MessageType == 0, 'dnnFormSuccess': message.MessageType == 1, 'dnnFormValidationSummary': message.MessageType == 2}">
                {{message.Message}}
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <!-- END RESULT -->
</div>


<style>
    .dnnFormMessage { display: block; padding: 18px 18px; margin-bottom: 18px; border: 1px solid rgba(2, 139, 255, 0.2); border-radius: 3px; background: rgba(2,139,255,0.15); max-width: 980px; }

    .dnnFormSuccess.dnnFormMessage { background-color: rgba(0,255,0,0.15); border-color: rgba(0, 255, 0, 0.5); }

    .dnnFormWarning.dnnFormMessage { background-color: rgba(255,255,0,0.15); border-color: #CDB21F; }

    .dnnFormValidationSummary.dnnFormMessage { background-color: rgba(255,0,0,0.15); border-color: rgba(255, 0, 0, 0.2); }
</style>