<div>
    <div class="modal-header">
        <h3 class="modal-title" translate="AppConfig.Export.Title"></h3>
    </div>
    <div class="modal-body">
        <div translate="AppConfig.Export.Intro"></div>
        <button ng-click="vm.exportAll()" class="btn" type="button">
            <i icon="export"></i>
            {{'AppConfig.Export.Button' | translate}}
        </button>
    </div>
        <br />


        <div class="modal-header">
            <h3 class="modal-title" translate="ImportExport.Title"></h3>
        </div>
        <div class="modal-body">
            <div translate="ImportExport.Intro"></div>
            <div translate="ImportExport.FurtherHelp"></div>

            <button ng-click="vm.import()" class="btn" type="button">
                <i icon="import"></i>
                {{'ImportExport.Buttons.Import' | translate}}
            </button>

            <button ng-click="vm.export()" class="btn" type="button">
                <i icon="export"></i>
                {{'ImportExport.Buttons.Export' | translate}}
            </button>

        </div>
    </div>