<div>
    <div class="modal-header">
        <!--<button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>-->
        <h3 class="modal-title" translate="ImportExport.Title"></h3>
    </div>
    <div class="modal-body">
        <div translate="ImportExport.Intro"></div>
        <div translate="ImportExport.Alternatives"></div>
        <div translate="ImportExport.FurtherHelp"></div>

        <button icon="import" ng-click="vm.import()" class="btn pull-right" type="button" > import</button>

        <button icon="export" ng-click="vm.export()" class="btn pull-right" type="button" > export</button>
         
    </div>
</div>