.eav-field { position: relative;min-height: 19px;padding-bottom: 10px; width:50% }
.eav-dimensionmenu-wrapper { width: 281px;float: right; }
.eav-dimension, .eav-contextmenu {position: relative; padding-left: 0px;margin-top: 2px; height: 27px;display: block; color: #BBB;line-height: 25px; }
.eav-dimension-lockicon { background: url(images/unlocked.png) no-repeat top left;display: inline; padding-left: 24px;    padding-top: 4px;position: relative; }
.eav-dimension-locked .eav-dimension-lockicon { background: url(images/Locked.png) no-repeat top left;}
.eav-dimension-message { position: relative; }

ul.eav-dimension-actions, .eav-dimension-actions ul, ul.eav-contextmenu-actions, .eav-contextmenu-actions ul { display: none;position: absolute;background: #FFF;z-index: 10;top: 24px;left: 22px;margin: 0;padding: 0px;width: 138px;line-height: normal; border-radius: 3px 3px 3px 3px;background: #FFF;border: 1px solid rgba(0, 0, 0, 0.85); }

.eav-dimension-actions:after, .eav-contextmenu-actions:after {
    border-color: #333333 transparent transparent #333333;
    border-image: none;
    border-style: solid;
    border-width: 3px;
    content: " ";
    height: 0;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 0;
}

.eav-dimension-actions li, .eav-contextmenu-actions li { margin: 0;padding: 0;list-style-type: none;position: relative; }
.eav-dimension-actions li.haschildren:after, .eav-contextmenu-actions li.haschildren:after { border-color: transparent transparent transparent #AAA;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: " ";
    height: 0;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 0;
}
.eav-dimension-actions li a, .eav-contextmenu-actions li a { padding: 8px;color: #000;border-bottom: 1px solid #DDD;display: block;text-decoration: none;font-size: 11px; }
.eav-dimension-actions li a.disabled, .eav-contextmenu-actions li a.disabled { cursor: default;color: #CCC; }
.eav-dimension-actions li:hover > a, .eav-contextmenu-actions li:hover > a { background: #EEE; }
/*.eav-dimension:hover .eav-dimension-actions { display: block; }*/

.eav-dimension-actions li ul, .eav-contextmenu-actions li ul { display: none;left: -139px; position: absolute; top: -1px; }
/*.eav-dimension-actions li:hover > ul { display: block; }*/

.eav-dimension-defaultfirst { color: #CCC; margin-top:3px; display:block; }
.eav-field-control, .eav-gps-map-actions { display:inline-block; }
.eav-gps-map-latitude, .eav-gps-map-longitude { width: 87px !important;}
.eav-gps-map-actions input[type='button'] { background: none repeat scroll 0 0 #DDDDDD; border: 1px solid #BBBBBB; margin: 1px 2px 1px 6px; padding: 3px; }