@page
@using ToSic.Sxc.Mvc.WebApi
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //ViewData["SxcPageHeaders"] = "<!-- test -->";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />

<h2>
    Test API Insights
</h2>

<ol>
    <li>
        <a href="/@WebApiConstants.WebApiRoot/insights/help">Insights Help</a>
    </li>
</ol>

<h2>
    Content / Query API
</h2>
<ol>
    <li>
        Tags
        <a href="/@WebApiConstants.WebApiRoot/app/Blog%20App/content/Tag">List</a> or
        <a href="/@WebApiConstants.WebApiRoot/app/Blog%20App/content/Tag/6628">One (#6628)</a>
    </li>
    <li>
        BlogPost
        <a href="/@WebApiConstants.WebApiRoot/app/Blog%20App/content/BlogPost">List</a> or
        <a href="/@WebApiConstants.WebApiRoot/app/Blog%20App/content/BlogPost/1057">One with AppIdentity (#1057)</a> or
        <a href="/@WebApiConstants.WebApiRoot/app/Blog%20App/content/BlogPost/d5fce6dd-c16a-4374-aaff-dc223e45b540">One with guAppIdentity (#d5fce6dd-c16a-4374-aaff-dc223e45b540)</a>
    </li>
  <li>
    Tags Query
    <a href="/@WebApiConstants.WebApiRoot/app/Blog%20App/query/Tags">List</a> or

  </li>
  <li>
    Routing Table <a href="/route-debugger">Routing debug table</a>
  </li>
</ol>


<hr/>
<h2>Other stuff</h2>
@Model.Hello

changed