<div ng-controller="Main as vm">
    <div class="modal-header">
        <button class="btn pull-right" type="button" ng-click="vm.close()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h3 class="modal-title" translate="Main.Title"></h3>
    </div>
    <div class="modal-body">
        <div>
            <tabset>
                <tab>
                    <tab-heading>
                        <span icon="home"></span> {{'Main.Tab.GS' | translate }}
                    </tab-heading>

                    <iframe ng-src="{{ vm.gettingStartedUrl | trustAsResourceUrl }}" style="border: none; width: 100%; height: 500px"></iframe>

                    <div ng-hide="true">
                        original script, maybe we need it
                        $(document).ready(function () {
                        $(window).bind("resize", function () {
                        var GettingStartedFrame = $(".sc-iframe-gettingstarted");
                        GettingStartedFrame.height($(window).height() - 50);
                        });

                        $(window).trigger("resize");
                        });
                    </div>
                </tab>

                <tab select="vm.view='content'">
                    <tab-heading>
                        <span icon="list"></span> {{'Main.Tab.CD' | translate }}
                    </tab-heading>
                    <div ng-if="vm.view == 'content'">
                        <div ng-controller="List as vm" ng-include="'content-types/content-types.html'"></div>
                    </div>
                </tab>

                <tab select="vm.view='view'">
                    <tab-heading>
                        <span icon="picture"></span> {{'Main.Tab.VT' | translate }}
                    </tab-heading>
                    <div ng-if="vm.view == 'view'">
                        <div ng-controller="TemplateList as vm" ng-include="'templates/templates.html'"></div>

                    </div>
                </tab>

                <tab select="vm.view='importexport'">
                    <tab-heading>
                        <span icon="random"></span> {{'Main.Tab.IE' | translate }}
                    </tab-heading>
                    <div ng-if="vm.view == 'importexport'">
                        <h3>import / export - still missing</h3>

                    </div>
                </tab>

                <tab select="vm.view='portal'">
                    <tab-heading>
                        <span icon="globe"></span> {{'Main.Tab.PL' | translate }}
                    </tab-heading>
                    <div ng-if="vm.view == 'portal'">
                        <h3>portal / language - still missing</h3>

                    </div>
                </tab>

                <tab select="vm.view='app'">
                    <tab-heading>
                        <span icon="cog"></span> {{'Main.Tab.AS' | translate }}
                    </tab-heading>
                    <div ng-if="vm.view == 'portal'">
                        <h3>app settings - still missing</h3>

                    </div>
                </tab>
            </tabset>

        </div>


    </div>
</div>