<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <button class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()">
            <i icon="remove"></i>
        </button>
        <h3 class="modal-title" translate="SourceEditor.Title"></h3>
    </div>

    <div class="modal-body">
        <p translate="SourceEditor.Intro"></p>

        <div class="row">
            <div class="col-md-8">
                {{vm.view.FileName }} ({{vm.view.Type }})
                <div ui-ace="{
    useWrapMode : true,
    useSoftTabs: true,
    showGutter: true,
    theme:'twilight',
    mode: 'html',
    onLoad: aceLoaded,
    require: ['ace/ext/language_tools'],
    advanced: {
        enableSnippets: true,
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true
    }

}" style="height: 400px;" ng-model="vm.view.Code">

                </div>
            </div>
            <div class="pull-right col-md-4">
                <h3 translate="SourceEditor.Snippets.Title">translate:Code Snippets</h3>
                <div translate="SourceEditor.Snippets.Intro"></div>
                <select class="input-lg" ng-model="vm.snippetSet" ng-options="key as key for (key , value) in vm.snippets"></select>
                <div ng-repeat="(subsetName, subsetValue) in vm.snippets[vm.snippetSet]">
                    <h4>{{subsetName}}</h4>
                    <ul>
                        <li ng-repeat="(key, value) in subsetValue" tooltip="{{ vm.snippetHelp(vm.snippetSet, subsetName, key) }}" ng-click="vm.addSnippet(value || key)">{{vm.snippetLabel(vm.snippetSet, subsetName, key)}}</li>
                    </ul>

                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-square btn-lg pull-left" type="button" ng-click="vm.save()"><i icon="ok"></i></button>
    </div>
    <show-debug-availability class="pull-right"></show-debug-availability>
</div>