<div>
    <div class="dropzone" >
        <div class="input-group" dropdown>
            <input type="text" class="form-control input-lg" ng-model="value.Value" tooltip="{{'Edit.Fields.Hyperlink.Default.Tooltip1' | translate }}
{{'Edit.Fields.Hyperlink.Default.Tooltip2' | translate }}
ADAM - sponsored with love by 2sic.com">
            <div ng-if="value.Value">
                <a href="{{vm.testLink}}" target="_blank" tabindex="-1">
                    <i icon="new-window"></i>
                </a><span tooltip="{{vm.testLink}}">&nbsp;... {{vm.testLink.substr(vm.testLink.lastIndexOf("/"), 100)}}</span>
            </div>
            <span class="input-group-btn" style="vertical-align: top;">
                <button type="button" class="btn btn-primary dropzone-adam input-lg" ng-disabled="to.disabled" tooltip="{{'Edit.Fields.Hyperlink.Default.AdamUploadLabel' | translate }}">
                    <span icon="upload"></span>
                </button>
                <button tabindex="-1" type="button" class="btn btn-default dropdown-toggle input-lg" dropdown-toggle ng-disabled="to.disabled">
                    <span icon="option-horizontal"></span>
                </button>
            </span>
            <ul class="dropdown-menu pull-right" role="menu">
                <li role="menuitem"><a class="dropzone-adam" href="javascript:void(0);" translate="Edit.Fields.Hyperlink.Default.MenuAdam"></a></li>
                <li role="menuitem"><a ng-click="vm.openDialog('pagepicker')" href="javascript:void(0)" translate="Edit.Fields.Hyperlink.Default.MenuPage"></a></li>
                <li role="menuitem"><a ng-click="vm.openDialog('imagemanager')" href="javascript:void(0)" translate="Edit.Fields.Hyperlink.Default.MenuImage"></a></li>
                <li role="menuitem"><a ng-click="vm.openDialog('documentmanager')" href="javascript:void(0)" translate="Edit.Fields.Hyperlink.Default.MenuDocs"></a></li>
            </ul>
        </div>
        <div class="dropzone-previews">
        </div>
        <div class="small" ng-show="fileAdded">
            <a href="http://2sxc.org/help?tag=adam" target="_blank" tooltip="ADAM is the Automatic Digital Assets Manager - click to discover more">Adam</a> is sponsored with ♥ by <a tabindex="-1" href="http://2sic.com/" target="_blank">2sic.com</a>
        </div>
    </div>

    <div ng-if="vm.debug.on">todo: enable / disable page, image picker, document manager based on settings, + translate</div>
</div>