<div>
    <div class="dropzone">
        <!-- The ADAM file browser, requires the uploader wrapped around it -->
        <adam-browser
            content-type-name="to.header.ContentTypeName"
            entity-guid="to.header.Guid"
            field-name="options.key"
            auto-load="true"
            sub-folder=""
            show-folders="true"
            enable-select="false"
            update-callback="vm.setValue"
            register-self="vm.registerAdam">
        </adam-browser>


        <!-- the preview of the uploader -->
        <dropzone-upload-preview></dropzone-upload-preview>

        <div class="small pull-right">
            <a href="http://2sxc.org/help?tag=adam" target="_blank" tooltip="ADAM is the Automatic Digital Assets Manager - click to discover more"><i icon="apple"></i> Adam</a> is sponsored with ♥ by <a tabindex="-1" href="http://2sic.com/" target="_blank">2sic.com</a>
        </div>
    </div>
</div>