@using DotNetNuke.Common
@using DotNetNuke.Entities.Controllers
@using DotNetNuke.Entities.Portals
@using ToSic.SexyContent
@using Assembly = System.Reflection.Assembly
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage
@{
    var appId = SexyContent.GetAppIdFromModule(Dnn.Module);
    var zoneId = SexyContent.GetZoneID(Dnn.Module.PortalID);
    var Sexy = new SexyContent(zoneId.Value, appId.Value, true, Dnn.Module.OwnerPortalID);


    var ng = Request.QueryString["ng"];

    const bool useMinifiedAdmin = false;

    var gsUrl = "http://gettingstarted.2sexycontent.org/router.aspx?"

                // Add version & module infos
                + "DnnVersion=" + Assembly.GetAssembly(typeof (Globals)).GetName().Version.ToString(4)
                + "&2SexyContentVersion=" + SexyContent.ModuleVersion
                + "&ModuleName=" + Dnn.Module.DesktopModule.ModuleName
                + "&ModuleId=" + Dnn.Module.ModuleID
                + "&PortalID=" + Dnn.Portal.PortalId
                + "&ZoneID=" + zoneId.Value
                + "&DefaultLanguage=" + PortalSettings.Current.DefaultLanguage
                + "&CurrentLanguage=" + PortalSettings.Current.CultureCode;
;
            // Add AppStaticName and Version
            if (appId.HasValue && Dnn.Module.DesktopModule.ModuleName != "2sxc")
            {
                var app = SexyContent.GetApp(zoneId.Value, appId.Value, Sexy.OwnerPS);

                gsUrl += "&AppGuid=" + app.AppGuid;
                if (app.Configuration != null)
                {
                    gsUrl += "&AppVersion=" + app.Configuration.Version;
                    gsUrl += "&AppOriginalId=" + app.Configuration.OriginalId;
                }
            }

            var HostSettings = HostController.Instance.GetSettingsDictionary();
            gsUrl += HostSettings.ContainsKey("GUID") ? "&DnnGUID=" + HostSettings["GUID"] : "";
}

    @*Only load jQuery for the pipeline designer, others don't need it and it's much faster!*@
    @if (ng == "pipeline-designer")
    {
        <script src="~/desktopmodules/tosic_sexycontent/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="~/desktopmodules/tosic_sexycontent/bower_components/jquery-ui/jquery-ui.min.js"></script>
        
        <script src='~/desktopmodules/tosic_sexycontent/js/angularjs/toaster.js'></script>
    }

<script>
    window.mainConfig = {
        gettingStartedUrl: "@gsUrl"
    }
</script>


<div sxc-app="MainSxcApp" ng-include="'main/main.html'" ng-dependencies="InitParametersFromUrl,MainSxcApp"></div>

@*<div sxc-app="ContentTypesApp" id="editEntity@(Dnn.Module.ModuleID)" ng-include="'content-types/content-types.html'" ng-dependencies="InitParametersFromUrl,ContentTypesApp"></div>*@


    @*CSS stuff*@
    <link rel="stylesheet" href="~/desktopmodules/tosic_sexycontent/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/desktopmodules/tosic_sexycontent/bower_components/bootstrap/dist/css/bootstrap-theme.css">

    @*Default Set / Standard Components for Admin UI*@
    <script src='~/desktopmodules/tosic_sexycontent/js/angularjs/angular.min.js'></script>
    <script src='~/desktopmodules/tosic_sexycontent/js/angularjs/angular-resource.min.js'></script>
    <script src='~/desktopmodules/tosic_sexycontent/js/angularjs/angular-animate.min.js'></script>
    <script src="~/desktopmodules/tosic_sexycontent/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="~/desktopmodules/tosic_sexycontent/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>

    <script src='~/desktopmodules/tosic_sexycontent/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    @*<script src='~/desktopmodules/tosic_sexycontent/bower_components/promise-window/dist/promise-window.min.js'></script>*@



    @*2sic Scripts*@
    <script src='~/desktopmodules/tosic_sexycontent/js/2sxc.api.js'></script>
    @*<script src='~/desktopmodules/tosic_sexycontent/js/2sxc.api.manage.js'></script>*@

    @*2sxc versions of the eav scripts*@
    <script src='~/desktopmodules/tosic_sexycontent/js/angularjs/2sxc4ng.js'></script>
    <script src='~/desktopmodules/tosic_sexycontent/sexycontent/eav/angularservices/eav-configuration-in-sxc.js'></script>


    @*Unchanged eav scripts*@
    <script src='~/desktopmodules/tosic_sexycontent/sexycontent/eav/angularservices/eavngsvcs.js'></script>
    <script src='~/desktopmodules/tosic_sexycontent/dist/admin/tosic-eav-admin.js'></script>

@*New! sxc stuff*@
<script src="~/desktopmodules/tosic_sexycontent/dist/admin/sxc-admin.js"></script>


@*Edit Scripts and stuff - used everywhere*@

    <script src="~/desktopmodules/tosic_sexycontent/dist/edit/tosic-eav-edit.js"></script>
    <link rel="stylesheet" href="~/desktopmodules/tosic_sexycontent/dist/edit/edit.min.css" />

    <!-- apiCheck is used by formly to validate its api -->
    <script src="~/desktopmodules/tosic_sexycontent/bower_components/api-check/dist/api-check.js"></script>
    <!-- This is the current state of master for formly core. -->
    <script src="~/desktopmodules/tosic_sexycontent/bower_components/angular-formly/dist/formly.min.js"></script>
    <!-- This is the current state of master for the bootstrap templates -->
    <script src="~/desktopmodules/tosic_sexycontent/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
