<div class="modal-header">
    <button class="btn btn-default btn-square pull-right" type="button" ng-click="vm.close()"><i icon="remove"></i></button>
    <h3 class="modal-title" translate="ReplaceContent.Title"></h3>
</div>
<div>
    <div class="modal-body">
        <p translate="ReplaceContent.Intro"></p>
        <div translate="ReplaceContent.ChooseItem"></div>
        <div>
            <select class="input-lg" ng-model="vm.item.id" ng-options="vm.convertToInt(key) as ((value || '[?]') + ' (' + key + ')') for (key,value) in vm.options"></select>
            &nbsp;<button type="button" class="btn btn-lg">
                <i icon="duplicate" ng-click="vm.copySelected()"></i>
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-square btn-lg pull-left" type="button" ng-click="vm.ok()"><i icon="ok"></i></button>
</div>