<div class="modal-header">
    <button icon="remove" class="btn pull-right" type="button" ng-click="vm.close()"></button>
    <h3 class="modal-title" translate="ReplaceContent.Title"></h3>
</div>
<div>
    <div class="modal-body">
        <p translate="ReplaceContent.Intro"></p>

        <h3>todo: pre-select of existing item doesn't work yet</h3>
        <div translate="ReplaceContent.ChooseItem"></div>
        <div>
            <td><select ng-model="vm.item.EntityId" ng-options="opt.Id as ((opt.Title || '[?]') + ' (' + opt.Id + ')') for opt in vm.options"></select></td>
        </div>
        {{vm.item | json}}
    </div>
</div>
<div class="modal-footer">
    <button icon="ok" class="btn btn-primary" type="button" ng-click="vm.ok()"></button>
</div>