

<div class="modal-body">
    <button icon="plus" type="button" class="btn btn-primary btn-square" ng-click="vm.add()"> </button>
    <span class="btn-group" ng-if="vm.debug.on">
        <button icon="repeat" type="button" class="btn btn-square" ng-click="vm.refresh()"></button>
        <!-- temporary provide old edit in case needed -->
        <button icon="plus" type="button" class="btn btn-square btn-warning" ng-click="vm.addOld()" tooltip="old add dialog"></button>
    </span>
    <table class="table table-hover">
        <thead>
        <tr>
            <th translate="Templates.Table.TName"></th>
            <th translate="Templates.Table.TPath"></th>
            <th translate="Templates.Table.CType"></th>
            <th translate="Templates.Table.DemoC"></th>
            <th>
                <span tooltip="{{'Templates.Table.Show' | translate}}"><i icon="eye-open"></i></span>
            </th>
            <th translate="Templates.Table.UrlKey"></th>
            <th translate="Templates.Table.Actions"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.items | orderBy:['ContentType.Name','Name']" class="clickable-row" ng-click="vm.edit(item)">
            <td class="clickable">{{item.Name}}</td>
            <td class="clickable"><span tooltip="{{item.TemplatePath}}">...{{item.TemplatePath.split("/").pop()}}</span></td>
            <td class="clickable">
                <span tooltip="
Cont: {{item.ContentType.Name}} ({{item.ContentType.Id}})
Pres: {{item.PresentationType.Name}} ({{item.PresentationType.Id}})
ListC: {{item.ListContentType.Name}} ({{item.ListContentType.Id}})
ListP: {{item.ListPresentationType.Name}} ({{item.ListPresentationType.Id}})
">{{item.ContentType.Name}}</span>
            </td>
            <td class="clickable">
                <span tooltip="
Demo: {{item.ContentType.DemoTitle}} ({{item.ContentType.DemoId}})
Pres: {{item.PresentationType.DemoTitle}} ({{item.PresentationType.DemoId}})
ListC: {{item.ListContentType.DemoTitle}} ({{item.ListContentType.DemoId}})
ListP: {{item.ListPresentationType.DemoTitle}} ({{item.ListPresentationType.DemoId}})
">{{item.ContentType.DemoId}}</span>
            </td>
            <td>
                <span icon="{{ item.IsHidden ? 'close' : 'eye-open'}}"></span>
            </td>
            <td class="clickable"><span tooltip="{{item.ViewNameInUrl}}">{{item.ViewNameInUrl}}</span></td>
            <td class="text-nowrap" stop-event="click">
                <button type="button" class="btn btn-xs btn-square" ng-click="vm.permissions(item)">
                    <i icon="user"></i>
                </button>

                <button type="button" class="btn btn-xs btn-square" ng-click="vm.tryToDelete(item)">
                    <span icon="remove"></span>
                </button>
                <!-- temporary provide old edit in case needed -->
                <button ng-if="vm.debug.on" type="button" class="btn btn-xs btn-square btn-warning" ng-click="vm.editOld(item)">
                    <span icon="pencil"></span>
                </button>
            </td>
        </tr>
        <tr ng-if="!vm.items.length">
            <td colspan="100" translate="General.Messages.NothingFound"></td>
        </tr>
        </tbody>
    </table>

    <div class="" translate="Templates.InfoHideAdvanced"></div>
</div>