
<div class="modal-body">
    <button icon="plus" type="button" class="btn btn-default" ng-click="vm.add()"> </button>
    <button icon="repeat" type="button" class="btn" ng-click="vm.refresh()"></button>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th translate="Templates.Table.TName"></th>
                <th translate="Templates.Table.TPath"></th>
                <th translate="Templates.Table.CType"></th>
                <th translate="Templates.Table.DemoC"></th>
                <th tooltip="{{'Templates.Table.Show' | translate}}">
                    <span icon="eye-open"></span>
                </th>
                <th translate="Templates.Table.UrlKey"></th>
                <th translate="Templates.Table.Actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.items | orderBy:['ContentType.Name','Name']">
                <td><a ng-click="vm.edit(item)">{{item.Name}}</a></td>
                <td><span tooltip="{{item.TemplatePath}}">...{{item.TemplatePath.split("/").pop()}}</span></td>
                <td>
                    <span tooltip="
Cont: {{item.ContentType.Name}} ({{item.ContentType.Id}})
Pres: {{item.PresentationType.Name}} ({{item.PresentationType.Id}})
ListC: {{item.ListContentType.Name}} ({{item.ListContentType.Id}})
ListP: {{item.ListPresentationType.Name}} ({{item.ListPresentationType.Id}})
">{{item.ContentType.Name}}</span>
                </td>
                <td>
                    <span tooltip="
Demo: {{item.ContentType.DemoTitle}} ({{item.ContentType.DemoId}})
Pres: {{item.PresentationType.DemoTitle}} ({{item.PresentationType.DemoId}})
ListC: {{item.ListContentType.DemoTitle}} ({{item.ListContentType.DemoId}})
ListP: {{item.ListPresentationType.DemoTitle}} ({{item.ListPresentationType.DemoId}})
">{{item.ContentType.DemoId}}</span>
                </td>
                <td>
                    <span icon="{{ item.IsHidden ? 'close' : 'eye-open'}}"></span>
                </td>
                <td tooltip="{{item.ViewNameInUrl}}">{{item.ViewNameInUrl}}</td>
                <td>
                    <button type="button" class="btn btn-xs" ng-click="vm.permissions(item)">
                        <span icon="user"></span>&nbsp;/&nbsp;<span icon="lock"></span>
                    </button>

                    <button icon="remove" type="button" class="btn btn-xs" ng-click="vm.tryToDelete(item)"> </button>
                </td>
            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100" translate="General.Messages.NothingFound"></td>
            </tr>
        </tbody>
    </table>

    <div class="" translate="Templates.InfoHideAdvanced"></div>
</div>

<style>
    .tooltip-inner {
        white-space: pre-wrap;
    }
</style>