@* ReSharper disable once CheckNamespace *@
@namespace ToSic.Sxc.Oqt.App
@inherits ModuleBase

TESTING

<div x-style="border: aqua 2px dotted">
    @((MarkupString)SxcOqtaneDto?.GeneratedHtml)
</div>

TESTING
