@* ReSharper disable once CheckNamespace *@
@namespace ToSic.Sxc.Oqt.App
@inherits ModuleBase
@* Show an error message from backend if something very central fails. Template errors will be in the normal Html *@
@*@if (!string.IsNullOrEmpty(ViewResults?.ErrorMessage))
{
    <div class="alert alert-warning" role="alert">
        @((MarkupString)ViewResults?.ErrorMessage)
    </div>
    <br />
}*@
@((MarkupString)ViewResults?.Html)
