@* ReSharper disable once CheckNamespace *@
@namespace ToSic.Sxc.Oqt.App
@using SxcSettings = ToSic.Sxc.Settings;
@inherits ModuleBase
@inject ISettingService SettingService

<table class="table table-borderless"></table>
