    
<div class="modal-body">
    <h3 translate="AppConfig.Title"></h3>
    <div translate="AppConfig.Intro"></div>

    <div>
        <div class="pull-left btn-group-vertical">
            <button tooltip="{{ 'AppConfig.Settings.Edit' | translate }}" ng-disabled="!vm.ready()" ng-click="vm.edit('App-Settings')" class="btn btn-primary btn-square" type="button">
                <i icon="pencil"></i>
            </button>
            <button tooltip="{{ 'AppConfig.Settings.Config' | translate }}" ng-disabled="!vm.ready()" ng-click="vm.config('App-Settings')" class="btn btn-default btn-square" type="button">
                <i icon="cog"></i>
            </button>
        </div>
        <div style="margin-left: 50px">
            <h4 class="modal-title" translate="AppConfig.Settings.Title"></h4>
            <div translate="AppConfig.Settings.Intro"></div>
        </div>
    </div>
    <br/>
    <div>
        <div class="pull-left btn-group-vertical">
            <button tooltip="{{'AppConfig.Resources.Edit' | translate}}" ng-disabled="!vm.ready()" ng-click="vm.edit('App-Resources')" class="btn btn-square btn-primary" type="button">
                <i icon="pencil"></i>
            </button>

            <button tooltip="{{'AppConfig.Resources.Config' | translate}}" ng-disabled="!vm.ready()" ng-click="vm.config('App-Resources')" class="btn btn-square btn-default" type="button">
                <i icon="cog"></i>
            </button>
        </div>
        <div style="margin-left: 50px">
            <h4 class="modal-title" translate="AppConfig.Resources.Title"></h4>
            <div translate="AppConfig.Resources.Intro"></div>
        </div>
    </div>
    <br/>
    <div>
        <div class="pull-left btn-group-vertical">
            <button tooltip="{{'AppConfig.Definition.Edit' | translate}}" ng-disabled="!vm.ready()" ng-click="vm.editPackage()" class="btn btn-primary btn-square" type="button">
                <i icon="cog"></i>
            </button>
        </div>
        <div style="margin-left: 50px">

            <h4 class="modal-title" translate="AppConfig.Definition.Title"></h4>
            <div translate="AppConfig.Definition.Intro"></div>
        </div>
    </div>

</div>