<div>
    <div class="modal-body">
        <h3 translate="AppConfig.Title"></h3>
        <div translate="AppConfig.Intro"></div>

        <div>
            <h4 translate="AppConfig.Settings.Title"></h4>
            <div translate="AppConfig.Settings.Intro"></div>
            <button icon="pencil" ng-disabled="!vm.ready()" ng-click="vm.edit('App-Settings')" class="btn btn-primary" type="button">
                {{ 'AppConfig.Settings.Edit' | translate }}
            </button>

            <button icon="cog" ng-disabled="!vm.ready()" ng-click="vm.config('App-Settings')" class="btn" type="button">
                {{ 'AppConfig.Settings.Config' | translate }}
            </button>
        </div>
        <br/>
        <br/>
        <div>
            <h4 translate="AppConfig.Resources.Title"></h4>
            <div translate="AppConfig.Resources.Intro"></div>
            <button icon="pencil" ng-disabled="!vm.ready()"  ng-click="vm.edit('App-Resources')" class="btn btn-primary" type="button">
                {{'AppConfig.Resources.Edit' | translate}}
            </button>

            <button icon="cog" ng-disabled="!vm.ready()"  ng-click="vm.config('App-Resources')" class="btn" type="button">
                {{'AppConfig.Resources.Config' | translate}}
            </button>
        </div>

    </div>
</div>