<div>
    <div class="modal-body">
        <h3 translate="AppConfig.Title"></h3>
        <div translate="AppConfig.Intro"></div>

        <div>
            <h4 translate="AppConfig.Settings.Title"></h4>
            <div translate="AppConfig.Settings.Intro"></div>
            <button ng-disabled="!vm.ready()" ng-click="vm.edit('App-Settings')" class="btn btn-primary" type="button">
                <i icon="pencil"></i>
                {{ 'AppConfig.Settings.Edit' | translate }}
            </button>

            <button ng-disabled="!vm.ready()" ng-click="vm.config('App-Settings')" class="btn" type="button">
                <i icon="cog"></i>
                {{ 'AppConfig.Settings.Config' | translate }}
            </button>
        </div>
        <br />
        <br />
        <div>
            <h4 translate="AppConfig.Resources.Title"></h4>
            <div translate="AppConfig.Resources.Intro"></div>
            <button ng-disabled="!vm.ready()" ng-click="vm.edit('App-Resources')" class="btn btn-primary" type="button">
                <i icon="pencil"></i>
                {{'AppConfig.Resources.Edit' | translate}}
            </button>

            <button ng-disabled="!vm.ready()" ng-click="vm.config('App-Resources')" class="btn" type="button">
                <i icon="cog"></i>
                {{'AppConfig.Resources.Config' | translate}}
            </button>
        </div>
        <br />

        <!--<div>
            <h4 translate="AppConfig.Export.Title"></h4>
            <div translate="AppConfig.Export.Intro"></div>
            <button icon="export" ng-disabled="!vm.ready()" ng-click="vm.export()" class="btn" type="button">
                {{'AppConfig.Export.Button' | translate}}
            </button>
        </div>
        <br />-->
       
    </div>
</div>
