<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <button class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()">
            <i icon="remove"></i>
        </button>
        <h3 class="modal-title" translate="Main.Title"></h3>
    </div>
    <div class="modal-body">
        <div>
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        <span uib-tooltip="{{'Main.Tab.GettingStarted' | translate }}">
                            <i icon="home"></i> {{'Main.Tab.GS' | translate | trustHtml }}
                        </span>
                    </uib-tab-heading>

                    <iframe ng-src="{{ vm.config.GettingStartedUrl | trustAsResourceUrl }}" style="border: none; width: 100%; height: 500px"></iframe>

                    <div ng-hide="true">
                        original script, maybe we need it
                        $(document).ready(function () {
                        $(window).bind("resize", function () {
                        var GettingStartedFrame = $(".sc-iframe-gettingstarted");
                        GettingStartedFrame.height($(window).height() - 50);
                        });

                        $(window).trigger("resize");
                        });
                    </div>
                </uib-tab>

                <uib-tab select="vm.view='content'">
                    <uib-tab-heading>
                        <span icon="list" uib-tooltip="{{'Main.Tab.ContentData' | translate }}"></span> {{'Main.Tab.CD' | translate }}
                    </uib-tab-heading>
                    <div ng-if="vm.view == 'content'">
                        <div ng-controller="List as vm" ng-include="'content-types/content-types.html'"></div>
                    </div>
                </uib-tab>


                <uib-tab select="vm.view='query'" ng-if="!vm.config.IsContent">
                    <uib-tab-heading>
                        <span icon="filter" uib-tooltip="{{'Main.Tab.Query' | translate }}"></span> {{'Main.Tab.Q' | translate }}
                    </uib-tab-heading>
                    <div ng-if="vm.view == 'query'">
                        <div ng-controller="PipelineManagement as vm" ng-include="'pipelines/pipelines.html'"></div>

                    </div>
                </uib-tab>

                <uib-tab select="vm.view='view'">
                    <uib-tab-heading>
                        <span icon="picture" uib-tooltip="{{'Main.Tab.ViewsTemplates' | translate }}"></span> {{'Main.Tab.VT' | translate }}
                    </uib-tab-heading>
                    <div ng-if="vm.view == 'view'">
                        <div ng-controller="TemplateList as vm" ng-include="'templates/templates.html'"></div>

                    </div>
                </uib-tab>




                <uib-tab select="vm.view='webapi'" ng-if="!vm.config.IsContent">
                    <uib-tab-heading>
                        <span icon="flash" uib-tooltip="{{'Main.Tab.WebApi' | translate }}"></span> {{'Main.Tab.WA' | translate }}
                    </uib-tab-heading>
                    <div ng-if="vm.view == 'webapi'">
                        <div ng-controller="WebApiMain as vm" ng-include="'web-api/web-api.html'"></div>
                    </div>
                </uib-tab>


                <uib-tab select="vm.view='app'">
                    <uib-tab-heading>
                        <span icon="unchecked" uib-tooltip="{{'Main.Tab.AppSettings' | translate }}"></span> {{'Main.Tab.AS' | translate }}
                    </uib-tab-heading>
                    <div ng-if="vm.view == 'app'">
                        <div ng-if="!vm.config.IsContent">
                            <div ng-controller="AppSettings as vm" ng-include="'app-settings/app-settings.html'"></div>
                            <br />                            
                        </div>
                        <div ng-controller="ImportExportIntro as vm" ng-include="'importexport/intro.html'"></div>
                    </div>
                </uib-tab>

                <uib-tab select="vm.view='portal'">
                    <uib-tab-heading>
                        <span icon="globe" uib-tooltip="{{'Main.Tab.PortalLanguages' | translate }}"></span> {{'Main.Tab.PL' | translate }}
                    </uib-tab-heading>
                    <div ng-if="vm.view == 'portal'">
                        <h3 translate="Main.Portal.Title"></h3>
                        <div translate="Main.Portal.Intro"></div>
                        <div ng-controller="LanguageSettings as vm" ng-include="'language-settings/languages.html'"></div>

                    </div>
                </uib-tab>

            </uib-tabset>

        </div>


    </div>
    <show-debug-availability class="pull-right"></show-debug-availability>
</div>