@page
@inherits ToSic.Sxc.Mvc.RazorPages.Exp.PageBaseLoadingBlogOnly
@model Website.Pages.ComponentsModel

<hr />
<h3>Partial1</h3>
My Type: @GetType().Name
<br />
Base Type: @GetType().BaseType.Name (@GetType().BaseType.FullName)

App: @App.Name
<hr />