<div>
    <div class="modal-header">
        <h4 translate="Language.Title"></h4>        
    </div>
    <div class="modal-body">
        <div translate="Language.Intro"></div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th translate="Language.Table.Code"></th>
                    <th translate="Language.Table.Culture"></th>
                    <th translate="Language.Table.Status"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.items | orderBy:['ContentType.Name','Name']" class="clickable-row" ng-click="vm.toggle(item)">
                    <td class="clickable">{{item.Code}}</td>
                    <td class="clickable">{{item.Culture}}</span></td>
                    <td class="clickable text-nowrap">
                        <span ng-click="vm.save(item)" stop-event="click">
                            <switch ng-model="item.IsEnabled"></switch>
                        </span>
                    </td>
                </tr>
                <tr ng-if="!vm.items.length">
                    <td colspan="100" translate="General.Messages.NothingFound"></td>
                </tr>
            </tbody>
        </table>
        &nbsp;
    </div>
</div>