<div class="modal-header">
    <button class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()"><i icon="remove"></i></button>
    <h3 class="modal-title" translate="ReorderContentList.Title"></h3>
    <h2> not yet implemented! </h2>
</div>
<div>
    <div class="modal-body">
        <p translate="ReorderContentList.Intro"></p>
        <div ui-tree="options" data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes ng-model="vm.items">

                <li ng-repeat="item in vm.items" ui-tree-node class="eav-entityselect-item">
                    <div ui-tree-handle>
                        <i icon="move" title="{{ 'FieldType.Entity.DragMove' | translate }}" class="pull-left eav-entityselect-sort" ng-show="to.settings.Entity.AllowMultiValue"></i>

                        {{item.Id}}
                    </div>
                </li>
            </ol>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-square btn-lg pull-left" type="button" ng-click="vm.ok()"><i icon="ok"></i></button>
</div>