<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <button class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()">
            <i icon="remove"></i>
        </button>
        <h3 class="modal-title" translate="todo.Title"></h3>
    </div>

    <div class="modal-body">
        <p translate="todo.Intro"></p>

        {{vm.view.FileName }} ({{vm.view.Type }})
        <div class="row">
            <div class="pull-right col-md-4">help stuff...</div>
            <div class="col-md-8" ui-ace="{
    useWrapMode : true,
    useSoftTabs: true,
    showGutter: true,
    theme:'twilight',
    mode: 'html',
    onLoad: aceLoaded,
    require: ['ace/ext/language_tools'],
    advanced: {
        enableSnippets: true,
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true
    }

}" style="height: 400px;" ng-model="vm.view.Code">

            </div>
        </div>

        <a ng-click="vm.addSnippet('[Content:something]')">add something</a>

        todo: help

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-square btn-lg pull-left" type="button" ng-click="vm.save()"><i icon="ok"></i></button>
    </div>
    <show-debug-availability class="pull-right"></show-debug-availability>
</div>