<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <button class="btn btn-default btn-square btn-subtle pull-right" type="button" ng-click="vm.close()">
            <i icon="remove"></i>
        </button>
        <h3 class="modal-title" translate="EditView.Help.Title"></h3>
    </div>
    <div class="modal-body">
        <div>
            <tabset>
                <tab>
                    <tab-heading>
                        <span tooltip="{{'EditView.Help.Content' | translate }}">
                            <i icon="home"></i> {{'EditView.Help.Content' | translate | trustHtml }}
                        </span>
                    </tab-heading>

                    todo: content-fields + toolbar

                </tab>

                <tab select="vm.view='content'">
                    <tab-heading>
                        <span icon="list" tooltip="{{'EditView.Help.List' | translate }}"></span> {{'EditView.Help.List' | translate }}
                    </tab-heading>

                </tab>


                <tab select="vm.view='query'">
                    <tab-heading>
                        <span icon="filter" tooltip="{{'EditView.App' | translate }}"></span> {{'EditView.App' | translate }}
                    </tab-heading>

                    ToDo: app path etc.
                    also app settings
                    and app resources
                </tab>

                <tab select="vm.view='xxx'">
                    <tab-heading>
                        <span icon="picture" tooltip="{{'EditView.Dnn' | translate }}"></span> {{'todo' | translate }}
                    </tab-heading>

                    todo: query string, time, etc. portal, module, tab

                </tab>

                


                <tab select="vm.view='xxx'">
                    <tab-heading>
                        <span icon="flash" tooltip="{{'EditView.User' | translate }}"></span> {{'EditView.User' | translate }}
                    </tab-heading>

                    todo 
                </tab>






                <tab select="vm.view='app'">
                    <tab-heading>
                        <span icon="unchecked" tooltip="{{'todo' | translate }}"></span> {{'todo' | translate }}
                    </tab-heading>

                    todo
                </tab>

                <tab select="vm.view='portal'">
                    <tab-heading>
                        <span icon="globe" tooltip="{{'todo' | translate }}"></span> {{'todo' | translate }}
                    </tab-heading>


                </tab>

            </tabset>

            <h2>{{vm.collectionTitle}}</h2>
            <div ng-repeat="set in vm.sets">
                <h3>{{set.title}}</h3>
                <table class="table table-hover" style="width: 100%; table-layout: auto; empty-cells: show;">
                    <thead>
                    <tr>
                        <th translate="EditView.Help.Code"></th>
                        <th translate="EditView.Help.Instructions"></th>
                        <th translate="EditView.Help.Suggestions"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in set.items">
                            <td>{{item.code}}</td>
                            <td>{{item.help}}</td>
                            <td>{{item.suggestions}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <show-debug-availability class="pull-right"></show-debug-availability>
</div>