<div ng-click="vm.debug.autoEnableAsNeeded($event)">
    <div class="modal-header">
        <h3 class="modal-title" translate="SourceEditor.Title"></h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div uib-tooltip="{{ vm.view.FileName }}" ng-click="vm.browser.toggle()">
                    {{ vm.view.FileName.substr(vm.view.FileName.lastIndexOf("\\") + 1) }}
                    ({{vm.view.Type }})
                    <i ng-class='{"icon-eav-plus-squared": !vm.browser.show, "icon-eav-minus-squared": vm.browser.show}'></i>
                </div>
                <div ng-if="vm.browser.show">
                    <h4>quick-pick another file</h4>
                    <ol>
                        <li ng-repeat="asset in vm.assets" ng-click="vm.browser.editFile(asset)">
                            {{asset}}
                        </li>
                    </ol>
                    <ul>
                        <li ng-click="vm.browser.addFile()">create file <span class="icon-eav-plus-circled"></span></li>
                        <li>for copy, rename etc. please use the dnn file manager</li>
                    </ul>
                </div>
                <div ng-model="vm.view.Code" style="height: 600px;" ui-ace="{
                    useWrapMode : true,
                    useSoftTabs: true,
                    showGutter: true,
                    theme:'sqlserver',
                    mode: 'razor',
                    onLoad: vm.aceLoaded,
                    require: ['ace/ext/language_tools', '//xyz/something'],
                    advanced: {
                        enableSnippets: true,
                        enableBasicAutocompletion: true,
                        enableLiveAutocompletion: true
                    },
                    rendererOptions: {
                        fontSize: 16
                    }
                }">
                </div>
            </div>
            <div class="pull-right col-md-4">
                <!-- snippets wrapper - should ensure scrolling-->
                <snippets ng-if="vm.snippets" snippets="vm.snippets" editor="vm.editor"></snippets>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="btn btn-primary btn-lg xxbtn-square" type="button" ng-click="vm.save(false)">
                <span icon="check" uib-tooltip="{{ 'Button.SaveAndKeepOpen' | translate }}"></span>
                {{ 'Button.SaveAndKeepOpen' | translate }}
            </button>
            also supports Ctrl+S
        </div>
    </div>
    <show-debug-availability class="pull-right"></show-debug-availability>
    <div ng-if="vm.debug.on">
        <pre>{{vm.view.Code}}</pre>
    </div>
</div>

<style>
    /* helper to ensure that razor (which is correctly detected by ACE) is also highlighted */
    .ace_razor {
        background-color: yellow;
    }

    /* make sure the highlighted text is also black, otherwise it a kind of gray */
    .ace_punctuation.ace_short.ace_razor {
        color: black;
    }

    .ace_punctuation.ace_block.ace_razor {
        color: black;
    }
</style>