/*
    These are all the styles that end up going in-page
    They should all have the prefix sc (short for sxc) to ensure that they never conflict with other styles in the page
*/

/* enable DNNEmptyPane for Quick-Edit */
.DNNEmptyPane { 
    /*width: auto;*/
    disablednote: "temporary disabled as it has side-effects";
    special-instructions: "read more on 2sxc.org/help?tag=quick-edit"
}


/****** the in-page toolbar and positioning / visibility thereof */
.sc-element { position:relative; }
.sc-element .sc-menu { position:absolute; right:5px; top:5px; display:none; }
.sc-element:hover .sc-menu { display: block; }
.sc-element:hover .sc-element:not(:hover) .sc-menu { display: none; }   /* prevent hover of a parent, when the item itself is not hovered */

.sc-menu { list-style-type:none; margin:0; padding:0px;display: inline;z-index: 1499; }
.sc-menu li { list-style-type:none; padding:0!important; margin:0!important; display:inline; }
.sc-menu a { display:inline-block!important; margin-right:4px!important;cursor: pointer;margin-left: 0 !important; }

.sc-menu a { display: none!important } /* not sure why this rule is separate, don't dare to combine it yet - pls check / fix */

/* this one is for buttons which can have a full/empty state */
.sc-menu li a.empty i {opacity: 0.4} 

.sc-menu a div { 
    width: 28px!important;
    height: 28px!important;
    line-height:28px!important;
    background-color: #0088f4;
    border-style: solid; 
    box-sizing: content-box;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    color: #fff; 
    text-align: center; 
    font-size: 15px }
.sc-menu a div i {
    margin-left: auto;
    margin-right: auto;
}

.sc-menu.listContent a span {background-color: #96D500; border-color: #96D500;}
.show-set-0 a.show-default { display: inline-block!important}
.show-set-1 a.show-edit { display: inline-block!important}
.show-set-2 a.show-design {display: inline-block!important}
.show-set-3 a.show-admin {display: inline-block!important}
.show-set-3 a.show-admin div { display: inline-block !important; background-color: #96D500}

.sc-menu span.disabled { color: #aaa}

.show-set-1 i.btn-mode:before { 
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
}
.show-set-2 i.btn-mode:before { 
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}
.show-set-3 i.btn-mode:before { 
    -ms-transform: rotate(135deg); /* IE 9 */
    transform: rotate(135deg);
}


/****** Content block menu */
.sc-content-block-menu { position:absolute; height: 40px; opacity:0.8; text-align:center; pointer-events:none; line-height:35px; padding:0; margin:-20px 0 0 0; z-index:999; }
.sc-content-block-menu a {  cursor:pointer; width:32px; height:32px; margin:0 3px!important; padding:0!important; display:inline-block; text-indent:-9999px; pointer-events:auto; font-size:18px; }
.sc-content-block-quick-insert:before, .sc-content-block-quick-insert:after { height:2px; background:#0088f4; width:60px; display:block; content:' '; position:absolute; left:50%; top:19px; }
.sc-content-block-quick-insert:before { margin-left:-150px; }
.sc-content-block-quick-insert:after { margin-left:90px; }
.sc-content-block-menu-addcontent {                                 background:url(../../icon.png);  background-size: 32px 32px;    }
.sc-content-block-menu-addcontent.sc-content-block-menu-module {    background: url(../../icon-black.png); background-size: 32px 32px; }
.sc-content-block-menu-addapp {                                     background:url(../../icon-app.png);  background-size: 32px 32px;    }
.sc-content-block-menu-addapp.sc-content-block-menu-module {        background: url(../../icon-app-black.png); background-size: 32px 32px;  }
a.sc-content-block-menu-btn {
    background: #2F9BF2;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-indent: 0!important;
    color: white;
}
.sc-invisible { display:none !important; }

.sc-cb-action { -webkit-filter: grayscale(75%); filter: grayscale(75%); }

.sc-cb-is-selected { filter: blur(5px); -webkit-filter: blur(5px);  }

div.sc-content-block-list.sc-cb-highlight-for-insert {  background-color: rgba(47,155,242,0.1); }

div.sc-cb-highlight-for-insert {    background-color: rgba(128,128,128,0.1);    }


/* this is needed to disable the paste button till it can be used */
.sc-unavailable {   display: none!important;    }

/* this rule disables copy/paste on module, as it's not supported (only on blocks) */
a.sc-content-block-menu-module.sc-cb-action {   display: none !important;   }

.sc-content-block-selected-menu {   display: none;  }
a.sc-content-block-selected-menu.sc-content-block-menu-btn {    -webkit-filter: grayscale(0%); filter: grayscale(0%);   }








/****** Prevent scrolling when sxc popup is open */
.sxc-popup-open { overflow:hidden; }




/* The font icons we use for the inpage buttons */
/* only use the WOFF, as all modern browsers support that */
@font-face {
  font-family: 'inpage-icons';
  src: url('../lib/fonts/inpage-icons.woff?4236189') format('woff'),
       url('../lib/fonts/inpage-icons.eot?4236189#iefix') format('embedded-opentype'),
       url('../lib/fonts/inpage-icons.ttf?4236189') format('truetype');
  font-weight: normal;
  font-style: normal;
}


 [class^="icon-sxc-"]:before, [class*=" icon-sxc-"]:before {
  font-family: "inpage-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 130%; 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
