<div>
    <div dropdown keyboard-nav auto-close="outsideClick" is-open="vm.selectorIsOpen">
        <button type="button" class="btn btn-default btn-lg" tooltip="{{value.Value}}" dropdown-toggle>
            <i class="{{vm.previewPrefix}} {{value.Value}}" ng-show="value.Value"></i>
            <span ng-show="!value.Value">&nbsp;&nbsp;</span>
            
        </button>

        <ul class="dropdown-menu icons-menu-columns" role="menu">
            <li class="input-group" disable-auto-close>
                <span class="input-group-addon btn-default btn"  ng-click="value.Value = ''">
                    <i class="icon-cancel"></i>
                </span>
                <input type="search" ng-model="vm.iconFilter" class="makePaymentDropdownSearchBox form-control input-lg" placeholder="search..."/>
            </li>

            <li ng-repeat="icn in vm.icons" role="menuitem"
                ng-show="icn.class.indexOf(vm.iconFilter) !== -1">
                <a ng-click="vm.setIcon(icn.class)" xng-click="value.Value = icn.class; status.isopen = false;">
                    <i class="{{vm.previewPrefix}} {{icn.class}}"></i> <span tooltip="{{icn.class}}">...{{icn.class.substring(vm.prefix.length-1,25)}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div ng-if="vm.debug.on">Infos: found {{vm.icons.length}} items for prefix "{{vm.prefix}}" and will use "{{vm.previewPrefix}}" as a preview class. Files are: {{vm.files}}</div>
</div> 