<div>
    <div dropdown keyboard-nav auto-close="outsideClick" is-open="vm.selectorIsOpen">
        <div class="thumbnail-before-input icon-preview">
            <button type="button" class="" tooltip="{{value.Value}}" dropdown-toggle>
                <i class="{{vm.previewPrefix}} {{value.Value}}" ng-show="value.Value"></i>
                <span ng-show="!value.Value">&nbsp;&nbsp;</span>
            </button>
        </div>
        <div class="input-group">
            <input type="text" class="form-control input-lg" ng-model="value.Value" ng-disabled="false" dropdown-toggle>
        </div>
        <!-- the search ui -->
        <ul class="dropdown-menu icons-menu-columns" role="menu">
            <li class="input-group" disable-auto-close>
                <span class="input-group-addon btn-default btn" ng-click="value.Value = ''">
                    <i class="icon-cancel"></i>
                </span>
                <input type="search" ng-model="vm.iconFilter" class="makePaymentDropdownSearchBox form-control input-lg" placeholder="search..." />
            </li>

            <li ng-repeat="icn in vm.icons" role="menuitem"
                ng-show="icn.class.indexOf(vm.iconFilter) !== -1">
                <a ng-click="vm.setIcon(icn.class)" xng-click="value.Value = icn.class; status.isopen = false;">
                    <i class="{{vm.previewPrefix}} {{icn.class}}"></i> <span tooltip="{{icn.class}}">...{{icn.class.substring(vm.prefix.length-1,25)}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div ng-if="vm.debug.on">Infos: found {{vm.icons.length}} items for prefix "{{vm.prefix}}" and will use "{{vm.previewPrefix}}" as a preview class. Selected is "{{value.Value}}" and files are: {{vm.files}}</div>
</div> 