
/* icons-menu classes */
  .icons-menu-columns {
    font-size: larger
  }


@media screen and (min-width: 451px) {
  .icons-menu-columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 701px) {
  .icons-menu-columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media screen and (min-width: 951px) {
  .icons-menu-columns {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

.input-string-font-icon-picker button {
    background-color: white !important;
    color: inherit !important;
}

.dropdown-menu.icons-menu-columns {
    background-color: white;
}

.icons-menu-columns li {
-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
}

.dropdown-menu.icons-menu-columns li a {
    color: black;
}

.dropdown-menu.icons-menu-columns .active a,
.dropdown-menu.icons-menu-columns .active a:focus,
.dropdown-menu.icons-menu-columns .active a:hover,
.dropdown-menu.icons-menu-columns li a:focus,
.dropdown-menu.icons-menu-columns li a:hover {
    /*color:#fff;*/
    background-color:#329ff6; /* white; /* #656d78; */   
    outline:0
}

.dropdown-menu .divider {
    background-color:white; /* #656d78; */ border-bottom:none
}

/* todo: merge this with the other thumbnail-before-input stuff */
.thumbnail-before-input.icon-preview {
    display: block;
    position: absolute;
    top: -8px;
}
.thumbnail-before-input > button {
    width: 64px;
    height: 64px;
    border: none;
    font-size: 40px;
}