/* for boostrap menus which should be scrollable and not unlimited length...*/
/*.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}*/

/* icons-menu classes */
  .icons-menu-columns {
    /*height: auto;
    max-height: 400px;
    overflow-x: hidden;*/
    font-size: larger
  }

  /*.icons-menu-columns li {
      width: 150px;
  }*/

/*@media screen and (max-width: 600px) {
  .icons-menu-columns {
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
  }
}*/

@media screen and (min-width: 451px) {
  .icons-menu-columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    /*width: 500px;*/
  }
}
@media screen and (min-width: 701px) {
  .icons-menu-columns {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    /*width: 500px;*/
  }
}
@media screen and (min-width: 951px) {
  .icons-menu-columns {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    /*width: 500px;*/
  }
}
