@font-face {
  font-family: '2sxc-icons';
/*   src: url('../font/2sxc-icons.eot?42363849');
 */  src: /* url('../font/2sxc-icons.eot?42363849#iefix') format('embedded-opentype'), */
       url('../lib/fonts/2sxc-icons.woff?42363849') format('woff')/* ,
       url('../font/2sxc-icons.ttf?42363849') format('truetype'),
       url('../font/2sxc-icons.svg?42363849#2sxc-icons') format('svg') */;
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '2sxc-icons';
    src: url('../font/2sxc-icons.svg?42363849#2sxc-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "2sxc-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-folder-empty:before { content: '\e800'; } /* '' */
.icon-file-word:before { content: '\e801'; } /* '' */
.icon-file-pdf:before { content: '\e802'; } /* '' */
.icon-file-excel:before { content: '\e803'; } /* '' */
.icon-doc:before { content: '\e804'; } /* '' */
.icon-file-powerpoint:before { content: '\e805'; } /* '' */
.icon-file-archive:before { content: '\e806'; } /* '' */
.icon-doc-text:before { content: '\e807'; } /* '' */
.icon-level-up:before { content: '\e808'; } /* '' */
.icon-apple:before { content: '\e809'; } /* '' */
.icon-up-circled2:before { content: '\e80a'; } /* '' */