.metadata-exists {
    color: #0088f4
}

.adam-browse-background-icon-wrapper {
    background-color: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    font-size: 5em
}
.metadata-missing {
    
}