.metadata-exists {
    color: #0088f4
}

.adam-browse-background-icon {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}
.adam-browse-background-icon i {
    font-size: 5em;
}
.adam-browse-background {
        background-color: whitesmoke;
}
.metadata-missing {
    
}