.metadata-exists {
    color: #0088f4
}

.adam-browse-background-icon {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.adam-browse-background-icon i {
    font-size: 4em;
}

.adam-background {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    line-height: 150%;
}

.adam-tag {
font-size: large;position: absolute;right: -15px;top: 50px;font-size: 1.8em;
    z-index: 30;
}

.adam-delete-button {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.4em;
}

.dz-details {
    bottom: 0;
}

.dropzone .dz-preview:hover .adam-blur {
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    -ms-transform:scale(1.05,1.05);
    -o-transform:scale(1.05,1.05);
    transform:scale(1.05,1.05);
    -webkit-filter:blur(8px);
    filter:blur(8px)
}



/*label under the icon*/
.adam-short-label  {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.adam-full-name {
    background-color: rgba(255,255,255,.8);
    border-radius: 3px;
    word-break: break-all;
    width: 80%;
    max-width: 95%;
    max-height: 57px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.adam-full-name-area {
    height: 60px;
    display: block;
}
.adam-browse-background {
        background-color: whitesmoke;
}
.metadata-missing {
    
}