<div ng-if="vm.show" class="">
    <!-- info for dropping stuff here -->
    <div class="dz-preview dropzone-adam" ng-disabled="vm.disabled" tooltip="{{'Edit.Fields.Hyperlink.Default.AdamUploadLabel' | translate }}" ng-click="vm.openUpload()">
        <div class="dz-image adam-browse-background-icon adam-browse-background" xstyle="background-color: whitesmoke">
            <i class="icon-up-circled2"></i>
            <div class="adam-short-label">drop files</div>
        </div>
    </div>

    <!-- add folder - not always shown -->
    <div ng-show="vm.allowCreateFolder() || vm.debug.on" class="dz-preview" ng-disabled="vm.disabled" ng-click="vm.addFolder()">
        <div class="dz-image adam-browse-background-icon adam-browse-background">
            <div class="">
                <i class="icon-folder-empty"></i>
                <div class="adam-short-label">new folder</div>
            </div>
        </div>
        <div class="adam-background adam-browse-background-icon">
            <i class="icon-plus" style="font-size: 2em; top: 13px; position: relative;"></i>
        </div>
        <div class="dz-details" style="opacity: 1">

        </div>
    </div>

    <!-- browse up a folder - not always shown -->
    <div ng-show="vm.showFolders || vm.debug.on" class="dz-preview" ng-disabled="vm.disabled" ng-if="vm.folders.length > 0" ng-click="vm.goUp()">
        <div class="dz-image  adam-browse-background-icon adam-browse-background">
            <i class="icon-folder-empty"></i>
            <div class="adam-short-label">up</div>
        </div>
        <div class="adam-background adam-browse-background-icon">
            <i class="icon-level-up" style="font-size: 2em; top: 13px; position: relative;"></i>
        </div>
    </div>

    <!-- folder list - not always shown -->
    <div ng-show="vm.showFolders || vm.debug.on" class="dz-preview" ng-repeat="item in vm.items | filter: { IsFolder: true }  | orderBy:'Name'" ng-click="vm.goIntoFolder(item)">
        <div class="dz-image adam-blur adam-browse-background-icon adam-browse-background">
            <i class="icon-folder-empty"></i>
            <div class="short-label">{{ item.Name }}</div>
        </div>

        <div class="dz-details file-type-{{item.Type}}">
            <span ng-click="vm.del(item)" stop-event="click" class="adam-delete-button"><i class="icon-cancel"></i></span>
            <div class="adam-full-name-area">
                <div class="adam-full-name">{{ item.Name }}</div>
            </div>
        </div>

        <span class="adam-tag" ng-class="{'metadata-exists': item.MetadataId > 0}"
              ng-click="vm.editFolderMetadata(item)"
              ng-if="vm.folderMetadataContentType"
              stop-event="click"
              tooltip="{{item.MetadataId}}">
            <i class="icon-tag" style="font-size: larger"></i>
        </span>
    </div>


    <!-- files -->
    <div class="dz-preview" ng-class="{ 'dz-success': value.Value.toLowerCase() == 'file:' + item.Id }" ng-repeat="item in (vm.items | filter: { IsFolder: false }) | filter: (vm.showImagesOnly ? {Type: 'image'} : {})  | orderBy:'Name'" ng-click="vm.select(item)" ng-disabled="vm.disabled || !vm.enableSelect">
        <div ng-if="item.Type !== 'image'" class="dz-image adam-blur  adam-browse-background-icon adam-browse-background">
            <i ng-class="vm.icon(item)"></i>
            <div class="adam-short-label">{{ item.Name }}</div>
        </div>
        <div ng-if="item.Type === 'image'" class="dz-image">
            <img data-dz-thumbnail="" alt="{{ item.Id + ':' + item.Name
}}" ng-src="{{ item.fullPath + '?w=120&h=120&mode=crop' }}">
        </div>



        <div class="dz-details file-type-{{item.Type}}">
            <span ng-click="vm.del(item)" stop-event="click" class="adam-delete-button"><i class="icon-cancel"></i></span>
            <div class="adam-full-name-area">
                <div class="adam-full-name">{{ item.Name }}</div>
            </div>
            <div class="dz-filename adam-short-label">
                <span>#{{ item.Id }} - {{ (item.Size / 1024).toFixed(0) }} kb</span>
            </div>
        </div>



        <div class="dz-success-mark">
            <svg width="54px" height="54px" viewBox="0 0 54 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <title>Check</title>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <path d="M23.5,31.8431458 L17.5852419,25.9283877 C16.0248253,24.3679711 13.4910294,24.366835 11.9289322,25.9289322 C10.3700136,27.4878508 10.3665912,30.0234455 11.9283877,31.5852419 L20.4147581,40.0716123 C20.5133999,40.1702541 20.6159315,40.2626649 20.7218615,40.3488435 C22.2835669,41.8725651 24.794234,41.8626202 26.3461564,40.3106978 L43.3106978,23.3461564 C44.8771021,21.7797521 44.8758057,19.2483887 43.3137085,17.6862915 C41.7547899,16.1273729 39.2176035,16.1255422 37.6538436,17.6893022 L23.5,31.8431458 Z M27,53 C41.3594035,53 53,41.3594035 53,27 C53,12.6405965 41.3594035,1 27,1 C12.6405965,1 1,12.6405965 1,27 C1,41.3594035 12.6405965,53 27,53 Z" id="Oval-2" stroke-opacity="0.198794158" stroke="#747474" fill-opacity="0.816519475" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                </g>
            </svg>
        </div>
    </div>

</div>