<div class="modal-header">
    <h3 class="modal-title" translate="WebApi.Title"></h3>
</div>

<div class="modal-body">
    <p translate="WebApi.Intro"></p>
    <button icon="plus" type="button" class="btn btn-square" ng-click="vm.add()"> </button>
    <button icon="repeat" type="button" class="btn btn-square" ng-click="vm.refresh()"></button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th translate="WebApi.ListTitle"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.items | orderBy:['ContentType.Name','Name']">
                <td><span uib-tooltip="{{item.TemplatePath}}">{{item}}</span></td>
            </tr>
            <tr ng-if="!vm.items.length">
                <td colspan="100" translate="General.Messages.NothingFound"></td>
            </tr>
        </tbody>
    </table>
    <p translate="WebApi.QuickStart"></p>

</div>

