<div dropdown is-open="status.isopen" class="eav-localization">
	<a class="eav-localization-lock" ng-if="vm.isDefaultLanguage()" ng-class="{ 'eav-localization-lock-open': !options.templateOptions.disabled }" dropdown-toggle href="javascript:void(0)">
		Button dropdown <span class="caret"></span>
	</a>
	<ul class="dropdown-menu multi-level pull-right eav-localization-dropdown" role="menu" aria-labelledby="single-button">
		<li role="menuitem"><a ng-click="vm.actions.translate()">Translate</a></li>
		<li role="menuitem"><a href="#">Another action</a></li>
		<li role="menuitem" class="dropdown-submenu">
			<a href="#">Something else here</a>
			<ul class="dropdown-menu">
				<li role="menuitem"><a href="#">Action</a></li>
				<li role="menuitem"><a href="#">Another action</a></li>
			</ul>
		</li>
		<li class="divider"></li>
		<li role="menuitem"><a href="#">Separated link</a></li>
	</ul>
</div>