.eav-localization { }
.eav-localization-lock { background: url(images/locked.png);width: 20px;height: 20px;padding: 5px;float: right;text-indent: -9999px; }
.eav-localization-lock-open { background: url(images/unlocked.png); }
.eav-localization-dropdown { margin-top: 20px; }
.eav-localization:hover .eav-localization-dropdown { display: block; }