

<div class="sc-selectors-wrapper">
    <!--<tabset>
        <tab select="vm.mode='content'">
            <tab-heading>
                <span>
                    <i icon="icon-ok"></i> C
                </span>
            </tab-heading>
        </tab>
        <tab select="vm.mode='app'">
            <tab-heading>
                <span>
                    <i icon="icon-remove"></i> A
                </span>
            </tab-heading>
        </tab>
    </tabset>-->
    <div class="sc-selectors">
        <!-- App Selector - only relevant in App-Mode -->
        <div ng-show="!vm.isContentApp" style="overflow:hidden;">
            <select ng-model="vm.appId" class="sc-selector-app input-lg pull-left"
                    ng-options="a.AppId as (a.Name.indexOf('TemplatePicker.') === 0 ? '[+] ' + (a.Name | translate) : a.Name) for a in vm.apps"
                    ng-disabled="vm.dashInfo.hasContent || vm.dashInfo.isList">
                <option value="" ng-disabled="vm.appId != null" translate="TemplatePicker.AppPickerDefault"></option>
            </select>
            <span>
                    <span ng-if="vm.showAdvanced && !vm.isContentApp">
                        <button type="button" class="btn btn-default"
                                ng-show="vm.appId != null"
                                ng-click="vm.appSettings();"
                                title="{{ 'TemplatePicker.App' | translate }}">
                            <i class="icon-settings"></i>
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="vm.appImport();"
                                title="{{ 'TemplatePicker.Install' | translate }}">
                            <i class="icon-plus"></i>
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="vm.appStore();"
                                title="{{ 'TemplatePicker.Catalog' | translate }}">
                            <i class="icon-cart-arrow-down"></i>
                        </button>
                        <button type="button" class="btn btn-default"
                                ng-click="vm.manageApps();"
                                title="{{ 'TemplatePicker.Zone' | translate }}">
                            <i class="icon-manage"></i>
                        </button>

                    </span>
                </span>

        </div>


        <!-- Content Type selector, only for Content-Mode -->
        <select ng-show="vm.isContentApp" ng-model="vm.contentTypeId"
                class="input-lg"
                ng-options="c.StaticName as c.Name for c in vm.contentTypes"
                ng-disabled="vm.dashInfo.hasContent || vm.dashInfo.isList">
            <option ng-disabled="vm.contentTypeId != ''" value="" translate="TemplatePicker.ContentTypePickerDefault"></option>
        </select>

        <!-- View / template selector -->
        <div>
            <select ng-show="vm.isContentApp ? vm.contentTypeId != 0 : (vm.savedAppId != null &&  vm.filteredTemplates().length > 1)"
                    class="input-lg pull-left"
                    ng-model="vm.templateId"
                    ng-options="t.TemplateId as t.Name for t in vm.filteredTemplates(vm.contentTypeId)"></select>

            <button ng-show="vm.templateId != null && vm.savedTemplateId != vm.templateId"
                    class="btn btn-primary"
                    ng-click="vm.persistTemplate(false, false);"
                    title="{{ 'TemplatePicker.Save' | translate }}"
                    type="button">
                <i class="icon-ok"></i>
            </button>
            <button ng-show="vm.undoTemplateId != null"
                    class="btn btn-default"
                    ng-click="vm.cancelTemplateChange();"
                    type="button"
                    title="{{ 'TemplatePicker.' + (vm.isContentApp ? 'Cancel' : 'Close') | translate }}">
                <i class="icon-cancel"></i>
            </button>
        </div>
    </div>



    <div class="sc-loading" ng-show="vm.loading">
        <i class="icon-spinner animate-spin"></i>
    </div>

    <!-- the auto-installer IFrame, with spinner and everything -->
    <div style="position: relative;" ng-if="vm.showRemoteInstaller">
        <iframe id="frGettingStarted" ng-src="{{vm.remoteInstallerUrl}}" width="100%" height="300px"></iframe>
        <div class="sc-loading" id="pnlLoading" ng-if="vm.progressIndicator.show">
            <i class="icon-spinner animate-spin"></i>
            <br/>
            <br/>
            <span class="sc-loading-label">
                    installing <span id="packageName">{{vm.progressIndicator.label}}</span>
                </span>
        </div>
    </div>
</div>
