@page
@{
    ViewData["Title"] = "2sxc Integration - Edit Implementation";
}

<div class="text-center">
  <h1 class="display-4">2sxc Integration - Edit Entities Implementation</h1>
</div>

<p>
  This should be the most basic integration possible, where we only read 2sxc data, but do nothing else.
</p>

<h2>Basics</h2>
<p>
  The following projects / solutions were added. If doing this from an external system, make sure you have the right DLLs.
</p>
<ol>
  <li>Eav</li>
  <li>Eav.Core</li>
  <li>Sxc.WebApi</li>
</ol>

<h2>Packages</h2>
<ol>
  <li>MVC.Newtonsoft 3.1.4</li>
</ol>

<h2>MVC specific stuff</h2>
<ol>
  <li>See code, basically have to add routing and add controllers with Newtonsoft</li>
</ol>

<h2>DB Connection</h2>
<ol>
  <li>Add DB Connection String to appsettings.json</li>
  <li>Create StartupEavAndSxc and add the ConfigureConnectionString - then call it from the normal Startup.cs</li>
</ol>

<h2>JS In-Page integration</h2>
<ol>
  <li>Add scripts js / inpage and include in page</li>
  <li>add $2sxc.env.load</li>
  <li>Add a link which runs a JS to open the edit dialog</li>
</ol>
